<nz-spin [nzSpinning]='loadingRecords'>
  <div
    style="border-radius: 8px; background-color: white; padding: 10px; margin: 10px; position: sticky; top: 0px; z-index: 10;">
    <div nz-row>
      <div nz-col nzXs="0" nzSm="0" nzMd="8" nzLg="8" nzXl="8">
        <div style="text-align: left; padding: 5px;">
          <span class="formname">
            {{formTitle}}
          </span>
        </div>
      </div>

      <div nz-col nzXs="0" nzSm="0" nzMd="8" nzLg="8" nzXl="8">
        <div style="text-align: center;" *ngIf="(federationID > 0) || (unitID > 0) || (groupID > 0)">
          <button nz-button nzType="default" style="border-radius: 5px; color: #47a7ff; border: solid 1px #47a7ff;"
            (click)="add()">
            <i nz-icon nzType="plus"></i>
            Create
          </button>
        </div>
      </div>

      <div nz-col nzXs="0" nzSm="0" nzMd="8" nzLg="8" nzXl="8" style="text-align: right;">
        <nz-input-group [nzSuffix]="suffixIcon" [nzPrefix]="prefixIcon">
          <input nz-input type="text" name="search" autocomplete="off" placeholder="Search Here..."
            (keydown.enter)="addSearchTextForSearching(searchText)" [(ngModel)]="searchText" />
        </nz-input-group>

        <ng-template #prefixIcon>
          <span nz-icon nzType="search"></span>
        </ng-template>

        <ng-template #suffixIcon>
          <i nz-icon nzType="filter" nzTheme="outline" (click)="openAdvanceFilter()" nzTooltipTitle="Advance Filter"
            nzTooltipPlacement="top" nz-tooltip>
          </i>
        </ng-template>
      </div>

      <div nz-col nzXs="8" nzSm="8" nzMd="0" nzLg="0" nzXl="0">
        <div style="text-align: left; padding: 5px;">
          <span class="formname">
            {{formTitle}}
          </span>
        </div>
      </div>

      <div nz-col nzXs="16" nzSm="16" nzMd="0" nzLg="0" nzXl="0" style="text-align: right;">
        <nz-input-group [nzSuffix]="suffixIcon" [nzPrefix]="prefixIcon">
          <input nz-input type="text" name="search" autocomplete="off" placeholder="Search Here..."
            (keydown.enter)="addSearchTextForSearching(searchText)" [(ngModel)]="searchText" />
        </nz-input-group>

        <ng-template #prefixIcon>
          <span nz-icon nzType="search"></span>
        </ng-template>

        <ng-template #suffixIcon>
          <i nz-icon nzType="filter" nzTheme="outline" (click)="openAdvanceFilter()" nzTooltipTitle="Advance Filter"
            nzTooltipPlacement="top" nz-tooltip>
          </i>
        </ng-template>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="0" nzLg="0" nzXl="0">
        <div style="text-align: center; padding-top: 10px;" *ngIf="(federationID > 0) || (unitID > 0) || (groupID > 0)">
          <button nz-button nzType="default" style="border-radius: 5px; color: #47a7ff; border: solid 1px #47a7ff;"
            (click)="add()">
            <i nz-icon nzType="plus"></i>
            Create
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="advanceFilterModalVisible"
    style="border-radius: 8px; background-color: white; padding: 10px; margin: 10px; position: sticky; top: 0px; z-index: 10;">
    <div style="max-height: 250px; overflow: auto;">
      <div nz-row>
        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-form-label nzNoColon>From Date</nz-form-label>

            <nz-form-control>
              <nz-date-picker name="fromDate" nzFormat="dd/MM/yyyy" (ngModelChange)="onFromDateChange($event)"
                [(ngModel)]="ADVANCE_FILTER_FROM_DATE">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-form-label nzNoColon>To Date</nz-form-label>

            <nz-form-control>
              <nz-date-picker name="toDate" [nzDisabledDate]="disabledToDate" nzFormat="dd/MM/yyyy"
                [(ngModel)]="ADVANCE_FILTER_TO_DATE">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-form-label nzNoColon>Federation(s)</nz-form-label>

            <nz-form-control>
              <nz-select name="federation" [nzMaxTagCount]="3" nzShowSearch nzMode="multiple" nzAllowClear
                style="width: 100%" nzPlaceHolder="Select Federation(s)" [(ngModel)]="FEDERATION_ID">

                <nz-option *ngFor="let federation of federations;" [nzValue]="federation.NAME"
                  [nzLabel]="federation.NAME">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-form-label nzNoColon>Unit(s)</nz-form-label>

            <nz-form-control>
              <nz-select name="unit" [nzMaxTagCount]="3" [nzSuffixIcon]="suffixIcon" nzShowSearch nzServerSearch
                nzMode="multiple" nzAllowClear style="width: 100%" nzPlaceHolder="Type here to search"
                [(ngModel)]="UNIT_ID" (nzOnSearch)="getUnits($event)">

                <nz-option nzCustomContent *ngFor="let unit of units;" [nzValue]="unit.NAME" [nzLabel]="unit.NAME">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      {{unit.NAME}}
                    </div>

                    <div nz-col nzSpan="24">
                      <div style="font-size: 10px; color: gray;">
                        <i nz-icon nzType="global" nzTheme="outline" style="color: #ff8d73;">
                        </i>

                        {{unit.FEDERATION_NAME}}
                      </div>
                    </div>
                  </div>
                </nz-option>
              </nz-select>

              <ng-template #suffixIcon>
                <div style="cursor: pointer;">
                  <span nz-popover nzPopoverTitle="Info" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="top"
                    style="font-size: 17px; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">
                    i
                  </span>
                </div>

                <ng-template #contentTemplate>
                  <div>
                    <p>Enter at least three characters to search</p>
                  </div>
                </ng-template>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-form-label nzNoColon>Group(s)</nz-form-label>

            <nz-form-control>
              <nz-select name="group" [nzMaxTagCount]="3" [nzSuffixIcon]="suffixIcon" nzShowSearch nzServerSearch
                nzMode="multiple" nzAllowClear style="width: 100%" nzPlaceHolder="Type here to search"
                [(ngModel)]="GROUP_ID" (nzOnSearch)="getGroups($event)">

                <nz-option nzCustomContent *ngFor="let group of groups;" [nzValue]="group.NAME" [nzLabel]="group.NAME">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      {{group.NAME}}
                    </div>

                    <div nz-col nzSpan="24">
                      <div style="font-size: 10px; color: gray;">
                        <i nz-icon nzType="global" nzTheme="outline" style="color: #ff8d73;">
                        </i>

                        {{group.FEDERATION_NAME}}
                      </div>
                    </div>

                    <div nz-col nzSpan="24">
                      <div style="font-size: 10px; color: gray;">
                        <i nz-icon nzType="deployment-unit" nzTheme="outline" style="color: #ff8d73;">
                        </i>

                        {{group.UNIT_NAME}}
                      </div>
                    </div>
                  </div>
                </nz-option>
              </nz-select>

              <ng-template #suffixIcon>
                <div style="cursor: pointer;">
                  <span nz-popover nzPopoverTitle="Info" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="top"
                    style="font-size: 17px; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">
                    i
                  </span>
                </div>

                <ng-template #contentTemplate>
                  <div>
                    <p>Enter at least three characters to search</p>
                  </div>
                </ng-template>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-form-label nzNoColon>Venue(s)</nz-form-label>

            <nz-form-control>
              <nz-select name="venue" [nzMaxTagCount]="3" nzShowSearch nzAllowClear nzMode="tags" style="width: 100%"
                nzPlaceHolder="Enter Venue(s)" [(ngModel)]="VENUES">
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: right;">
          <button nz-button style="border-radius: 5px; color: #47a7ff; border: solid 1px #47a7ff; margin-right: 3px;"
            nzType="default" (click)="advanceFilterModalCancel()">
            Cancel
          </button>

          <button nz-button style="border-radius: 5px; color: #47a7ff; border: solid 1px #47a7ff; margin-right: 3px;"
            nzType="default" (click)="clearAdvanceFilter()">
            Clear
          </button>

          <button nz-button style="border-radius: 5px; color: #47a7ff; border: solid 1px #47a7ff;" nzType="default"
            (click)="advanceFilterModalOk()">
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="(multipleSearchText.length > 0) || (advanceMultipleSearchText.length > 0) || (advanceMultipleFederationNames.length > 0) || (advanceMultipleUnitNames.length > 0) || (advanceMultipleGroupNames.length > 0) || (advanceMultipleVenues.length > 0)"
    style="height: 7vh; overflow-y: auto; border-radius: 8px; background-color: white; padding: 10px; margin: 10px; position: sticky; top: 0px; z-index: 10;">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div style="padding: 3px 0px 3px 0px;">
          <span *ngIf="multipleSearchText.length > 0">
            <span *ngFor="let text of multipleSearchText; let i = index;">
              <nz-tag [nzColor]="'magenta'" nzMode="closeable" (nzOnClose)="onClose(i)"
                style="font-size: 10px; padding: 1px; margin: 1px;">
                {{text}}
              </nz-tag>
            </span>
          </span>

          <span *ngIf="advanceMultipleSearchText.length > 0">
            <span *ngFor="let text of advanceMultipleSearchText; let j = index;">
              <nz-tag [nzColor]="'magenta'" nzMode="closeable" (nzOnClose)="onAdvanceFilterTagClose(j)"
                style="font-size: 10px; padding: 1px; margin: 1px;">
                {{text}}
              </nz-tag>
            </span>
          </span>

          <span *ngIf="advanceMultipleFederationNames.length > 0">
            <span *ngFor="let text of advanceMultipleFederationNames; let k = index;">
              <nz-tag [nzColor]="'magenta'" nzMode="closeable" (nzOnClose)="onAdvanceFilterFederationNamesTagClose(k)"
                style="font-size: 10px; padding: 1px; margin: 1px;">
                {{text}}
              </nz-tag>
            </span>
          </span>

          <span *ngIf="advanceMultipleUnitNames.length > 0">
            <span *ngFor="let text of advanceMultipleUnitNames; let l = index;">
              <nz-tag [nzColor]="'magenta'" nzMode="closeable" (nzOnClose)="onAdvanceFilterUnitNamesTagClose(l)"
                style="font-size: 10px; padding: 1px; margin: 1px;">
                {{text}}
              </nz-tag>
            </span>
          </span>

          <span *ngIf="advanceMultipleGroupNames.length > 0">
            <span *ngFor="let text of advanceMultipleGroupNames; let m = index;">
              <nz-tag [nzColor]="'magenta'" nzMode="closeable" (nzOnClose)="onAdvanceFilterGroupNamesTagClose(m)"
                style="font-size: 10px; padding: 1px; margin: 1px;">
                {{text}}
              </nz-tag>
            </span>
          </span>

          <span *ngIf="advanceMultipleVenues.length > 0">
            <span *ngFor="let text of advanceMultipleVenues; let n = index;">
              <nz-tag [nzColor]="'magenta'" nzMode="closeable" (nzOnClose)="onAdvanceFilterVenuesClose(n)"
                style="font-size: 10px; padding: 1px; margin: 1px;">
                {{text}}
              </nz-tag>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!advanceFilterModalVisible" id="activityItem" [ngStyle]="{ height: getHeigth() }"
    style="overflow-y: auto; padding: 10px;" (scroll)="onScroll($event)">
    <div id="top"></div>

    <div *ngIf="dataList.length > 0">
      <div *ngFor="let meeting of dataList; let i = index;"
        style="border-radius: 8px; background-color: white; padding: 10px; margin-bottom: 10px;">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div style="float: left; display: inline;" *ngIf="getMeetingTag(meeting)">
              <nz-tag [nzColor]="'green'">Upcoming</nz-tag>
            </div>

            <div style="float: left; display: inline; padding: 5px 0px 5px 0px; font-size: 10px; color: green;"
              *ngIf="(userID == meeting.CREATOR_ID) && (meeting.STATUS == 'D')">
              In Draft Mode
            </div>

            <div style="float: left; display: inline; padding: 5px 0px 5px 0px; font-size: 10px; color: blue;"
              *ngIf="meeting.IS_HOSTED">
              {{(meeting.HOSTING_LEVEL == 'F') ? (meeting.FEDERATION_SHORT_NAME + "'s" + ' Federation Level') :
              (meeting.UNIT_NAME + "'s" + ' Unit Level')}} Host Meeting
            </div>

            <div *ngIf="userID == meeting.CREATOR_ID"
              style="float: right; display: inline; padding: 3px 0px 3px 0px; text-align: center; height: 30px; width: 30px; border-radius: 50%; background-color: #f0f2f5;">
              <span style="cursor: pointer;">
                <a nz-dropdown [nzDropdownMenu]="menu">
                  <i nz-icon nzType="more" nzTheme="outline" style="color: black; font-size: 21px; padding: 2px;">
                  </i>
                </a>

                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Are you sure publish this meeting?"
                      (nzOnConfirm)="publishMeeting(meeting)" (nzOnCancel)="cancel()" nzPopconfirmPlacement="topLeft"
                      style="color: blue;" *ngIf="meeting.STATUS == 'D'">
                      Publish Meeting
                    </li>

                    <li nz-menu-item *ngIf="(meeting.STATUS == 'D') || (meeting.MINUTES == '')"
                      (click)="editInPartially(meeting)" style="color: green;">
                      Edit Meeting
                    </li>

                    <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Are you sure delete this Meeting?"
                      (nzOnConfirm)="DeleteMeeting(meeting)" (nzOnCancel)="cancel()" nzPopconfirmPlacement="topLeft"
                      style="color: red;">
                      Delete Meeting
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </span>
            </div>

            <div style="float: right; display: inline; padding: 3px 0px 3px 0px;">
              <span *ngIf="getMeetingDetails(meeting)">
                <i nz-icon nzType="calendar" nzTheme="twotone" style="cursor: pointer; font-size: 21px;"
                  (click)="Googlecalender(meeting)" nzTooltipTitle="Google Calender" nzTooltipPlacement="top"
                  nz-tooltip>
                </i>
              </span>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div *ngIf="(!expandSubject[i])"
              style="font-size: 14px; color: black; font-weight: bold; text-align: justify; padding: 3px 0px 3px 0px;">
              {{(meeting.MEETING_SUB.length > 140) ? (meeting.MEETING_SUB.substring(0,140) + '...') :
              meeting.MEETING_SUB}}
            </div>

            <div *ngIf="(expandSubject[i])"
              style="font-size: 14px; color: black; font-weight: bold; text-align: justify; padding: 3px 0px 3px 0px;">
              {{meeting.MEETING_SUB}}
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: right"
            *ngIf="(meeting.MEETING_SUB.length > 140) && (!expandSubject[i])">
            <a (click)="getHeightOfSubject(i)">
              <span style="font-size: 10px;">
                Read More
              </span>
            </a>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <nz-divider></nz-divider>
          </div>

          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <div style="font-size: 10px; text-align: left;">
              Meeting Type : {{getMeetingType(meeting.TYPE_OF_MEET)}}
            </div>
          </div>

          <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
            <div style="font-size: 10px; color: #FF7A7A; text-align: right;">
              {{meeting.MEETING_NUMBER}}
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div nz-row>
              <div nz-col nzXs="12" nzSm="12" nzMd="5" nzLg="5" nzXl="5" style="font-size: 10px;">
                <i nz-icon nzType="calendar" nzTheme="outline" style="color: #FF7A7A;"></i>&nbsp;
                <span>{{meeting.DATE | date: 'dd MMM yyyy'}}</span>
              </div>

              <div nz-col nzXs="0" nzSm="0" nzMd="7" nzLg="7" nzXl="7" style="font-size: 10px;">
                <i nz-icon nzType="clock-circle" nzTheme="outline" style="color: #FF7A7A;"></i>&nbsp;

                <span>
                  {{getTimeInAM_PM(meeting.FROM_TIME) | date:'hh:mm a' }} To
                  {{getTimeInAM_PM(meeting.TO_TIME) | date:'hh:mm a' }}
                </span>
              </div>

              <div nz-col nzXs="12" nzSm="12" nzMd="0" nzLg="0" nzXl="0" style="font-size: 10px; text-align: right;">
                <i nz-icon nzType="clock-circle" nzTheme="outline" style="color: #FF7A7A;"></i>&nbsp;

                <span>
                  {{getTimeInAM_PM(meeting.FROM_TIME) | date:'hh:mm a' }} To
                  {{getTimeInAM_PM(meeting.TO_TIME) | date:'hh:mm a' }}
                </span>
              </div>

              <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" style="font-size: 10px;">
                <i nz-icon nzType="environment" nzTheme="outline" style="color: #FF7A7A;"></i>&nbsp;
                <span>{{meeting.VENUE}}</span>
              </div>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" *ngIf="!meeting.IS_HOSTED">
            <div style="font-size: 10px; text-align: left;">
              Organized By : {{meeting.GROUP_NAME}}
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" *ngIf="meeting.IS_HOSTED">
            <div style="font-size: 10px; text-align: left;">
              Hosted By : {{getHostedGroupNames(meeting.HOSTED_BY_GROUP_IDS)}}
            </div>
          </div>

          <div nz-col nzXs="0" nzSm="0" nzMd="12" nzLg="12" nzXl="12">
            <div style="font-size: 10px; text-align: right;">
              Created By : {{meeting.CREATOR_NAME}}
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="0" nzLg="0" nzXl="0">
            <div style="font-size: 10px; text-align: left;">
              Created By : {{meeting.CREATOR_NAME}}
            </div>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"
            [ngStyle]="{'max-height' : expandAgenda[i] ? 'fit-content' : '50px'}"
            style="overflow: hidden; word-break: break-all; font-size: 12px; margin-top: 10px; text-align: justify;">

            <div [innerHTML]="meeting.AGENDA"></div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: right"
            *ngIf="(meeting.AGENDA != undefined) && (meeting.AGENDA.length > 299) && (!expandAgenda[i])">
            <a (click)="getHeightOfAgenda(i)">
              <span style="font-size: 10px;">
                Read More
              </span>
            </a>
          </div>
        </div>

        <div nz-row>
          <!-- <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="(meeting.PHOTO1 != ' ')">
            <div style="margin-top: 10px" nz-row>
              <div nz-col nzSpan="24" style="text-align: center;">
                <div class="inner-box">
                  <div class="img-wrap" style="text-align: center;">
                    <span (click)="viewPhotoes(meeting,i)" class="close"
                      style="font-size: 16px; color:white; background-color: #00000059; border-radius: 50%; padding: 20px; cursor: pointer;"
                      *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) != 0">
                      <span style="font-weight: bold;">
                        <b>
                          + {{getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5)}}
                        </b>
                      </span>
                    </span>

                    <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; max-height: 70vh;">
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <div nz-col nzXs="24" nzSm="24" nzMd="0" nzLg="0" nzXl="0" *ngIf="(meeting.PHOTO1 != ' ')">
            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 4">
              <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                  <div nz-row>
                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                      <div style="text-align: center; height: 20vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>

                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                      <div style="text-align: center; height: 20vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO2)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>
                  </div>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                  <div nz-row>
                    <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                      <div style="text-align: center; height: 10vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO3)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>

                    <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                      <div style="text-align: center; height: 10vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO4)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>

                    <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                      <div style="text-align: center; height: 10vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO5)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 3">
              <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                  <div style="text-align: center; height: 20vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>

                <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                  <div style="text-align: center; height: 10vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO2)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>

                <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                  <div style="text-align: center; height: 10vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO3)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>

                <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                  <div style="text-align: center; height: 10vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO4)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 2">
              <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                  <div style="text-align: center; height: 20vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>

                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                  <div style="text-align: center; height: 20vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO2)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>

                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                  <div style="text-align: center; height: 20vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO3)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 1">
              <div nz-row>
                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                  <div style="text-align: center; height: 20vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>

                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                  <div style="text-align: center; height: 20vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO2)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 0">
              <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                  <div style="text-align: center; height: 50vh; cursor: pointer;" (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: contain;">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div nz-col nzXs="0" nzSm="0" nzMd="24" nzLg="24" nzXl="24" *ngIf="(meeting.PHOTO1 != ' ')">
            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 4">
              <div nz-row>
                <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
                  <div nz-row>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 45vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 45vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO2)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>
                  </div>
                </div>

                <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                  <div nz-row>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 30vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO3)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 30vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO4)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 30vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO5)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 3">
              <div nz-row>
                <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
                  <div style="text-align: center; height: 80vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>

                <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                  <div nz-row>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 26vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO2)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 27vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO3)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 27vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO4)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 2">
              <div nz-row>
                <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
                  <div style="text-align: center; height: 50vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>

                <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                  <div nz-row>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 25vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO2)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>

                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 25vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO3)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 1">
              <div nz-row>
                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                  <div style="text-align: center; height: 40vh; padding: 1px; cursor: pointer;"
                    (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: cover;">
                  </div>
                </div>

                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                  <div nz-row>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                      <div style="text-align: center; height: 40vh; padding: 1px; cursor: pointer;"
                        (click)="viewPhotoes(meeting,i)">
                        <img [src]="getPhotoURL(meeting.PHOTO2)" style="width: 100%; height: 100%; object-fit: cover;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="padding: 5px;"
              *ngIf="getImageCount(meeting.PHOTO2,meeting.PHOTO3,meeting.PHOTO4,meeting.PHOTO5) == 0">
              <div nz-row>
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                  <div style="text-align: center; height: 50vh; cursor: pointer;" (click)="viewPhotoes(meeting,i)">
                    <img [src]="getPhotoURL(meeting.PHOTO1)" style="width: 100%; height: 100%; object-fit: contain;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div nz-row *ngIf="meeting.MINUTES.length > 0">
          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"
            [ngStyle]="{'max-height': expandMinutes[i] ? 'fit-content' : '50px'}"
            style="overflow: hidden; word-break: break-all; font-size: 12px; margin-top: 10px; text-align: justify;">

            <div [innerHTML]="meeting.MINUTES"></div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: right"
            *ngIf="(meeting.MINUTES != undefined) && (meeting.MINUTES.length > 299) && (!expandMinutes[i])">
            <a (click)="getHeightOfMinutes(i)">
              <span style="font-size: 10px;">
                Read More
              </span>
            </a>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <div nz-row>
              <div nz-col nzSpan="24">
                <div *ngIf="(meeting.IS_INVITION_SEND == 1) && (meeting.IS_ATTENDANCE_MARKED == 1)"
                  style="text-align: left;">
                  <span (click)="viewAttendancies(meeting)" style="cursor: pointer;">
                    <i nz-icon style="font-size: 12px; color: #1890ff;" nzType="check-circle" nzTheme="outline"></i>

                    <a style="font-size: 12px;">
                      View Attendance
                    </a>
                  </span>
                </div>
              </div>

              <div nz-col nzSpan="24">
                <div style="text-align: left;"
                  *ngIf="(userID == meeting.CREATOR_ID) && (meeting.IS_INVITION_SEND == 0)">
                  <span (click)="MapInvities(meeting)" style="cursor: pointer;">
                    <i nz-icon style="font-size: 12px; color: #1890ff;" nzType="check-circle" nzTheme="outline"></i>

                    <a style="font-size: 12px;">
                      Map Invitees
                    </a>
                  </span>
                </div>
              </div>

              <div nz-col nzSpan="24">
                <div style="text-align: left;"
                  *ngIf="(userID == meeting.CREATOR_ID) && (meeting.IS_INVITION_SEND == 1) && (meeting.IS_ATTENDANCE_MARKED == 0)">
                  <span (click)="MapAttendies(meeting)" style="cursor: pointer;">
                    <i nz-icon style="font-size: 12px; color: #1890ff;" nzType="check-circle" nzTheme="outline"></i>

                    <a style="font-size: 12px;">
                      Mark Attendance
                    </a>
                  </span>
                </div>
              </div>

              <div nz-col nzSpan="24">
                <div style="text-align: left;"
                  *ngIf="(userID == meeting.CREATOR_ID) && ((meeting.STATUS == 'D') || (meeting.MINUTES == '')) && (meeting.IS_INVITION_SEND == 1) && (meeting.IS_ATTENDANCE_MARKED == 1)">
                  <span (click)="edit(meeting)" style="cursor: pointer;">
                    <i nz-icon style="font-size: 12px; color: #1890ff;" nzType="upload" nzTheme="outline"></i>

                    <a style="font-size: 12px;">
                      Upload Minutes
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <div *ngIf="(meeting.PDF1 != ' ') || (meeting.PDF2 != ' ')" style="text-align: right;">
              <span *ngIf="(meeting.PDF1 != ' ')" style="cursor: pointer;" (click)="viewPDF(meeting.PDF1)">
                <i nz-icon nzType="paper-clip" nzTheme="outline" style="font-size: 17px;"></i>

                <span style="font-size: 12px;">
                  View File 1
                </span>&nbsp;
              </span>

              <span *ngIf="(meeting.PDF2 != ' ')" style="cursor: pointer;" (click)="viewPDF(meeting.PDF2)">
                <i nz-icon nzType="paper-clip" nzTheme="outline" style="font-size: 17px;"></i>

                <span style="font-size: 12px;">
                  View File 2
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="dataList.length == 0">
      <nz-empty
        [nzNotFoundImage]="'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'"
        [nzNotFoundContent]="contentTpl">
      </nz-empty>

      <ng-template #contentTpl>
        <span>No data available.</span>
      </ng-template>
    </div>
  </div>
</nz-spin>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="getWidth()" [nzVisible]="drawerVisible"
  [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="true">

  <app-addgroupmeetingsattendance [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData">
  </app-addgroupmeetingsattendance>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="getwidth()" [nzVisible]="drawerVisible2"
  [nzTitle]="drawerTitle2" (nzOnClose)="drawerClose2()" (nzKeyboard)="true">

  <app-groupmeetingsend [drawerClose]="closeCallback2" [drawerVisible]="drawerVisible2" [data]="drawerData">
  </app-groupmeetingsend>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="getwidth()" [nzVisible]="drawerVisible1"
  [nzTitle]="drawerTitle1" (nzOnClose)="drawerClose1()" (nzKeyboard)="true">

  <app-groupmeetsattendiesmap [drawerClose]="closeCallback1" [data]="drawerData1" [trainattendiesData]="drawerData2"
    [totalRecords]="totalRecords2" [MEETING_ID]="MEETING_ID" [groupDetails]="groupDetails">
  </app-groupmeetsattendiesmap>
</nz-drawer>

<!-- View attendies drawer -->
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 60px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="getwidth()"
  [nzVisible]="drawerAttendanciesVisible" [nzTitle]="drawerAttendanciesTitle" (nzOnClose)="drawerAttendanciesClose()"
  (nzKeyboard)="true">

  <nz-table class="my-scroll no-wrap1" nzBordered #dataTable [nzFrontPagination]="false" [nzData]="attendanceData"
    [nzLoading]="isSpinning" [(nzPageIndex)]="viewAttendancePageIndex" [(nzPageSize)]="viewAttendancePageSize">
    <thead>
      <tr>
        <th style="width: 80px;"><b>Sr. No.</b></th>
        <th><b>Member Name</b></th>
        <th style="width: 100px;"><b>Attendance</b></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data1 of dataTable.data; let i = index;">
        <td style="width: 80px;" align="center">
          {{i + 1}}
        </td>

        <td>
          <div nz-row>
            <div nz-col nzSpan="24">
              <div>
                <span style="color: black; font-weight: bold;">
                  {{data1.NAME}}
                </span>&nbsp;

                <span style="font-size: 12px; color: #ff8d73;">
                  ({{data1.MEMBER_ROLE}})
                </span>
              </div>
            </div>

            <div nz-col nzSpan="24">
              <div style="font-size: 10px;">
                <i nz-icon nzType="global" nzTheme="outline" style="color: #ff8d73;">
                </i> {{data1.FEDERATION_NAME}},

                <i nz-icon nzType="deployment-unit" nzTheme="outline" style="color: #ff8d73;">
                </i> {{data1.UNIT_NAME}},

                <i nz-icon nzType="team" nzTheme="outline" style="color: #ff8d73;">
                </i> {{data1.GROUP_NAME}}
              </div>
            </div>
          </div>
        </td>

        <td style="width: 100px;" align="center">
          <span style="color: green; font-size: 18px;" *ngIf="data1.P_A == 1">
            <i nz-icon nzType="check-circle" nzTheme="outline"></i>
          </span>

          <span style="color:red; font-size: 18px;" *ngIf="data1.P_A == 0">
            <i nz-icon nzType="close-circle" nzTheme="outline"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <div class="footer">
    <div nz-row>
      <div nz-col nzSpan="12">
        <div style="padding: 5px; text-align: left;">
          <nz-tag [nzColor]="'blue'">
            <span style="font-size: 12px;">
              Total : {{meetingTotalCount}}
            </span>
          </nz-tag>

          <nz-tag [nzColor]="'green'">
            <span style="font-size: 12px;">
              Present : {{meetingPresentCount}}
            </span>
          </nz-tag>

          <nz-tag [nzColor]="'red'">
            <span style="font-size: 12px;">
              Absent : {{meetingAbsentCount}}
            </span>
          </nz-tag>
        </div>
      </div>

      <div nz-col nzSpan="12">
        <div style="text-align: right;">
          <button type="button" nz-button (click)="drawerAttendanciesClose()" class="ant-btn">
            <span>Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nz-drawer>

<nz-modal nzWidth="1000px" [nzBodyStyle]="{height : '440px'}" [(nzVisible)]="photoModalVisible"
  [nzTitle]="photoModalTitle" [nzContent]="photoModalContent" [nzFooter]="photoModalFooter"
  (nzOnCancel)="photoModalCancel()" nzClosable="false">

  <ng-template #photoModalContent>
    <div style="overflow-y: auto; height: 410px;">
      <form nz-form #myFormPhotoView="ngForm">
        <div nz-row class="my-box" *ngIf="(PHOTO1 != '')">
          <div nz-col nzSpan="8">
            <div style="text-align: center;">
              <img [src]="PHOTO1" (click)="viewPhoto(PHOTO1)" height="150px" width="250px"
                style="border-radius: 10px; border: solid 1px black; cursor: pointer;">
            </div>
          </div>

          <div class="container" nz-col nzSpan="16">
            <div class="vertical-center">
              {{DESCRIPTION1}}
            </div>
          </div>
        </div>

        <div nz-row class="my-box" *ngIf="(PHOTO2 != '')">
          <div nz-col nzSpan="8">
            <div style="text-align: center;">
              <img [src]="PHOTO2" (click)="viewPhoto(PHOTO2)" height="150px" width="250px"
                style="border-radius: 10px; border: solid 1px black; cursor: pointer;">
            </div>
          </div>

          <div class="container" nz-col nzSpan="16">
            <div class="vertical-center">
              {{DESCRIPTION2}}
            </div>
          </div>
        </div>

        <div nz-row class="my-box" *ngIf="(PHOTO3 != '')">
          <div nz-col nzSpan="8">
            <div style="text-align: center;">
              <img [src]="PHOTO3" (click)="viewPhoto(PHOTO3)" height="150px" width="250px"
                style="border-radius: 10px; border: solid 1px black; cursor: pointer;">
            </div>
          </div>

          <div class="container" nz-col nzSpan="16">
            <div class="vertical-center">
              {{DESCRIPTION3}}
            </div>
          </div>
        </div>

        <div nz-row class="my-box" *ngIf="(PHOTO4 != '')">
          <div nz-col nzSpan="8">
            <div style="text-align: center;">
              <img [src]="PHOTO4" (click)="viewPhoto(PHOTO4)" height="150px" width="250px"
                style="border-radius: 10px; border: solid 1px black; cursor: pointer;">
            </div>
          </div>

          <div class="container" nz-col nzSpan="16">
            <div class="vertical-center">
              {{DESCRIPTION4}}
            </div>
          </div>
        </div>

        <div nz-row class="my-box" *ngIf="(PHOTO5 != '')">
          <div nz-col nzSpan="8">
            <div style="text-align: center;">
              <img [src]="PHOTO5" (click)="viewPhoto(PHOTO5)" height="150px" width="250px"
                style="border-radius: 10px; border: solid 1px black; cursor: pointer;">
            </div>
          </div>

          <div class="container" nz-col nzSpan="16">
            <div class="vertical-center">
              {{DESCRIPTION5}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #photoModalFooter>
    <button nz-button nzType="default" (click)="photoModalCancel()">Cancel</button>
  </ng-template>
</nz-modal>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="getWidth()"
  [nzVisible]="viewPhotoDrawerVisible" [nzTitle]="viewPhotoDrawerTitle" (nzOnClose)="viewPhotoDrawerClose()"
  (nzKeyboard)="true">

  <div *ngIf="(dataList.length > 0) && (selectedIndex > -1)">
    <div nz-row class="my-box">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div style="padding: 5px;" [innerHTML]="dataList[selectedIndex].AGENDA"></div>
      </div>
    </div>

    <div>
      <div nz-row *ngIf="(dataList[selectedIndex].PHOTO1 != ' ')">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <div style="max-height: 60vh; overflow: auto; text-align: center;">
            <img [src]="getPhotoURL(dataList[selectedIndex].PHOTO1)" style="width: 100%; object-fit: contain;"
              mouseWheel [style.max-width.vh]="imgWidth1" [style.max-height.vh]="imgWidth1"
              (mouseWheelUp)="mouseWheelUpFunc1()" (mouseWheelDown)="mouseWheelDownFunc1()">
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="font-size: 12px; margin-top: 5px;">
          {{dataList[selectedIndex].DESCRIPTION1}}
        </div>
      </div>

      <div nz-row *ngIf="(dataList[selectedIndex].PHOTO2 != ' ')">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <div style="max-height: 60vh; overflow: auto; text-align: center;">
            <img [src]="getPhotoURL(dataList[selectedIndex].PHOTO2)" style="width: 100%; object-fit: contain;"
              mouseWheel [style.max-width.vh]="imgWidth2" [style.max-height.vh]="imgWidth2"
              (mouseWheelUp)="mouseWheelUpFunc2()" (mouseWheelDown)="mouseWheelDownFunc2()">
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="font-size: 12px; margin-top: 5px;">
          {{dataList[selectedIndex].DESCRIPTION2}}
        </div>
      </div>

      <div nz-row *ngIf="(dataList[selectedIndex].PHOTO3 != ' ')">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <div style="max-height: 60vh; overflow: auto; text-align: center;">
            <img [src]="getPhotoURL(dataList[selectedIndex].PHOTO3)" style="width: 100%; object-fit: contain;"
              mouseWheel [style.max-width.vh]="imgWidth3" [style.max-height.vh]="imgWidth3"
              (mouseWheelUp)="mouseWheelUpFunc3()" (mouseWheelDown)="mouseWheelDownFunc3()">
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="font-size: 12px; margin-top: 5px;">
          {{dataList[selectedIndex].DESCRIPTION3}}
        </div>
      </div>

      <div nz-row *ngIf="(dataList[selectedIndex].PHOTO4 != ' ')">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <div style="max-height: 60vh; overflow: auto; text-align: center;">
            <img [src]="getPhotoURL(dataList[selectedIndex].PHOTO4)" style="width: 100%; object-fit: contain;"
              mouseWheel [style.max-width.vh]="imgWidth4" [style.max-height.vh]="imgWidth4"
              (mouseWheelUp)="mouseWheelUpFunc4()" (mouseWheelDown)="mouseWheelDownFunc4()">
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="font-size: 12px; margin-top: 5px;">
          {{dataList[selectedIndex].DESCRIPTION4}}
        </div>
      </div>

      <div nz-row *ngIf="(dataList[selectedIndex].PHOTO5 != ' ')">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <div style="max-height: 60vh; overflow: auto; text-align: center;">
            <img [src]="getPhotoURL(dataList[selectedIndex].PHOTO5)" style="width: 100%; object-fit: contain;"
              mouseWheel [style.max-width.vh]="imgWidth5" [style.max-height.vh]="imgWidth5"
              (mouseWheelUp)="mouseWheelUpFunc5()" (mouseWheelDown)="mouseWheelDownFunc5()">
          </div>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="font-size: 12px; margin-top: 5px;">
          {{dataList[selectedIndex].DESCRIPTION5}}
        </div>
      </div>
    </div>

    <div nz-row class="my-box">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <div style="padding: 5px;" [innerHTML]="dataList[selectedIndex].MINUTES"></div>
      </div>
    </div>
  </div>

  <div class="footer">
    <button type="button" nz-button (click)="viewPhotoDrawerClose()" class="ant-btn"><span>Close</span></button>
  </div>
</nz-drawer>

<nz-modal nzWidth="1000px" [nzBodyStyle]="{height : '440px'}" [(nzVisible)]="DETAILSModalVisible"
  [nzTitle]="DETAILSModalTitle" [nzContent]="DETAILSModalContent" [nzFooter]="DETAILSModalFooter"
  (nzOnCancel)="photoModalCancel()" nzClosable="false">

  <ng-template #DETAILSModalContent>
    <div style="overflow-y: auto; height: 400px;">
      <p>{{DESCRIPTION1}}</p>
    </div>
  </ng-template>

  <ng-template #DETAILSModalFooter>
    <button nz-button nzType="default" (click)="DETAILSModalCancel()">Cancel</button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Google Calender" [nzContent]="modalContent1" [nzFooter]="modalFooter1"
  (nzOnCancel)="handleCancel()">
  <ng-template #modalContent1>
    <p>Do You Want to Add Meeting in Your Google Calender ?</p>
  </ng-template>

  <ng-template #modalFooter1>
    <button nz-button nzType="default" (click)="handleCancel()">
      Cancel
    </button>

    <a [href]="GoogleCalender" mat-menu-item target="_blank" nz-button nzType="default" (click)="handleOk()"
      style="margin-left:10px;">
      Add
    </a>
  </ng-template>
</nz-modal>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="getwidthInvities()"
  [nzVisible]="drawerVisibleInvities" [nzTitle]="drawerTitleInvities" (nzOnClose)="drawerCloseInvities()"
  (nzKeyboard)="true">

  <app-drawermapinvities [drawerClose]="closeCallbackInvities" [MEETING_ID]="MEETING_ID">
  </app-drawermapinvities>
</nz-drawer>