
  .grouping{
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    /* margin-bottom: 12px; */
    background-color: #fafafa;
  }
  .footer{
    float: right;
    margin-top: 12px;
  }
  .header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 800px;
}

nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
}

.my-box {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;
}

th{
  text-align: center !important;
  }
  .td-center{
    text-align: center !important;
  }
  .td-left{
    text-align: left !important;
  }
  .td-right{
    text-align: right !important;
  }
