nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.grouping {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}

.footer {
  float: right;
}

nz-table {
  overflow-y: scroll;
  height: 150px;
}

.dot {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: inline-block;
  /* margin-left: 650px; */
  border: 2px solid black;
}

th {
  text-align: center !important;
}

.datecenter {
  text-align: center !important;
}

.header {
  position: absolute;
  top: 0px;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 700px;
  width: 130px;
}
.header1 {
  position: absolute;
  top: 0px;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 650px;
}


