.my-box {
    border: 1px solid #747373;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;
    overflow-y: auto;
}

.boxShadow {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.img-wrap .close {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 100;
}

.footer {
    float: right;
}

.abc {
    position: sticky;
    padding: 16px 24px;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
}

.card {
    border: none;
    box-shadow: 2px 2px 2px 2px #e9ecef;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fbfbfb;
    background-clip: border-box;
    padding: 10px;
}

.header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 0px;
}