<div>
    <!-- <div class="header">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn"><i nz-icon nzType="close"
                nzTheme="outline"></i></button>
    </div> -->
    <form nz-form #myForm="ngForm">
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row nzGutter="10">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    <div class="my-box">
                        <div nz-row>
                            <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Enter the Sponsored Group Name</nz-form-label>
                                    <nz-form-control nzHasFeedback nzErrorTip="Enter Sponsored Group Name">
                                        <input nz-input placeholder="Sponsored Group Name" name="sponsored"
                                            [(ngModel)]="GroupSponsdata.SPONSERED_GROUP_NAME" required />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Select Inaugurtion Date</nz-form-label>
                                    <nz-form-control nzHasFeedback nzErrorTip="Enter Inaugurtion Date">
                                        <nz-date-picker name="inaugurtiondate" nzFormat="dd/MM/yyyy"
                                            [(ngModel)]="GroupSponsdata.DATE_OF_INAUGUARTION" [nzDisabledDate]="disabledDate">
                                        </nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Enter the Description</nz-form-label>
                                    <nz-form-control nzHasFeedback nzErrorTip="Enter Description">
                                        <textarea rows="4" nz-input placeholder="Description" name="description"
                                            [(ngModel)]="GroupSponsdata.PRESENT_STATUS" maxlength="500" required>
                                </textarea>
                                    </nz-form-control>
                                    <span *ngIf="GroupSponsdata.PRESENT_STATUS" style="font-size: 10px; color: red;">
                                        {{GroupSponsdata.PRESENT_STATUS.length}}/ 500    
                                  </span>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-spin>
    </form>
    <br />
</div>
<div class="footer">
    <button type="button" nz-button (click)="close(myForm)" class="ant-btn"
        style="margin-right: 8px;"><span>Cancel</span></button>

    <button type="button" class="ant-btn ant-btn-primary" nz-button (click)="save(false,myForm)">
        <span>Add & close</span>
    </button>

</div>