<div>
    <div class="header">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn">
            <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
    </div>

    <form nz-form #myForm="ngForm">
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row nzGutter="10">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" style="margin-bottom: 5px;">
                    <div
                        style="text-align: center; border: 2px solid rgb(173, 170, 170); border-radius: 5px; width: 100%; height: 260px; padding: 5px; cursor: pointer;">
                        <div nz-row>
                            <div nz-col nzSpan="24">
                                <div nz-row>
                                    <div nz-col nzSpan="6">
                                        <span>
                                            <img [src]="directorPhoto"
                                                style="height: 60px; width: 60px; border: 2px solid gray; border-radius: 50%; cursor: pointer;">
                                        </span>
                                    </div>

                                    <div nz-col nzSpan="18">
                                        <div nz-row>
                                            <div nz-col nzSpan="24"
                                                style="text-align: right; color: black; font-size: 15px; font-weight: bold;">
                                                <span style="background-color: rgb(197, 195, 195); padding: 3px;">
                                                    Director
                                                </span>
                                            </div>

                                            <div nz-col nzSpan="24"
                                                style="text-align: left; height: 20px; overflow: hidden; font-size: 10px; font-weight: bold; color: gray;">
                                                <span nz-icon nzType="mobile" nzTheme="outline"></span>
                                                {{directorMobile}}
                                            </div>

                                            <div nz-col nzSpan="24"
                                                style="text-align: left; height: 20px; overflow: hidden; font-size: 12px; font-weight: bold; color: black;">
                                                {{directorName}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div nz-row>
                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{directorFederation}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{directorUnit}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{directorGroup}}
                                    </div>

                                    <div nz-col nzSpan="7"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        DOB : {{directorDOB}}
                                    </div>

                                    <div nz-col nzSpan="17"
                                        style="text-align: right; height: 20px; overflow: hidden; font-size: 10px;">
                                        <span nz-icon nzType="mail" nzTheme="outline"></span>
                                        {{directorEmail}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 40px; overflow: hidden; font-size: 10px;">
                                        <span nz-icon nzType="environment" nzTheme="outline"></span>
                                        {{directorAddress}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 40px; overflow: hidden; font-size: 10px;">
                                        <!-- I/C : {{directorInchargeOf}} -->
                                    </div>
                                </div>

                                <div nz-row>
                                    <div nz-col nzSpan="24" style="text-align: center;">
                                        <button type="button" nzType="default" nz-button (click)="addMembers(1)"
                                            style="height: 25px;"
                                            *ngIf="(federationID == tempOpenedUnitsFederationID) || (unitID == tempOpenedUnitID)"><span>Manage</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div nz-row nzGutter="10">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" style="margin-bottom: 5px;">
                    <div
                        style="text-align: center; border: 2px solid rgb(173, 170, 170); border-radius: 5px; width: 100%; height: 260px; padding: 5px; cursor: pointer;">

                        <div nz-row>
                            <div nz-col nzSpan="24">
                                <div nz-row>
                                    <div nz-col nzSpan="6">
                                        <span>
                                            <img [src]="officer1Photo"
                                                style="height: 60px; width: 60px; border: 2px solid gray; border-radius: 50%; cursor: pointer;">
                                        </span>
                                    </div>

                                    <div nz-col nzSpan="18">
                                        <div nz-row>
                                            <div nz-col nzSpan="24"
                                                style="text-align: right; color: black; font-size: 15px; font-weight: bold;">
                                                <span style="background-color: rgb(197, 195, 195); padding: 3px;">
                                                    Officer 1
                                                </span>
                                            </div>

                                            <div nz-col nzSpan="24"
                                                style="text-align: left; height: 20px; overflow: hidden; font-size: 10px; font-weight: bold; color: gray;">
                                                <span nz-icon nzType="mobile" nzTheme="outline"></span>
                                                {{officer1Mobile}}
                                            </div>

                                            <div nz-col nzSpan="24"
                                                style="text-align: left; height: 20px; overflow: hidden; font-size: 12px; font-weight: bold; color: black;">
                                                {{officer1Name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div nz-row>
                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{officer1Federation}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{officer1Unit}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{officer1Group}}
                                    </div>

                                    <div nz-col nzSpan="7"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        DOB : {{officer1DOB}}
                                    </div>

                                    <div nz-col nzSpan="17"
                                        style="text-align: right; height: 20px; overflow: hidden; font-size: 10px;">
                                        <span nz-icon nzType="mail" nzTheme="outline"></span>
                                        {{officer1Email}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 40px; overflow: hidden; font-size: 10px;">
                                        <span nz-icon nzType="environment" nzTheme="outline"></span>
                                        {{officer1Address}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 40px; overflow: hidden; font-size: 10px;">
                                        <!-- I/C : {{officer1InchargeOf}} -->
                                    </div>
                                </div>

                                <div nz-row>
                                    <div nz-col nzSpan="24" style="text-align: center;">
                                        <button type="button" nzType="default" nz-button (click)="addMembers(2)"
                                            style="height: 25px;"
                                            *ngIf="(federationID == tempOpenedUnitsFederationID) || (unitID == tempOpenedUnitID)"><span>Manage</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" style="margin-bottom: 5px;">
                    <div
                        style="text-align: center; border: 2px solid rgb(173, 170, 170); border-radius: 5px; width: 100%; height: 260px; padding: 5px; cursor: pointer;">

                        <div nz-row>
                            <div nz-col nzSpan="24">
                                <div nz-row>
                                    <div nz-col nzSpan="6">
                                        <span>
                                            <img [src]="officer2Photo"
                                                style="height: 60px; width: 60px; border: 2px solid gray; border-radius: 50%; cursor: pointer;">
                                        </span>
                                    </div>

                                    <div nz-col nzSpan="18">
                                        <div nz-row>
                                            <div nz-col nzSpan="24"
                                                style="text-align: right; color: black; font-size: 15px; font-weight: bold;">
                                                <span style="background-color: rgb(197, 195, 195); padding: 3px;">
                                                    Officer 2
                                                </span>
                                            </div>

                                            <div nz-col nzSpan="24"
                                                style="text-align: left; height: 20px; overflow: hidden; font-size: 10px; font-weight: bold; color: gray;">
                                                <span nz-icon nzType="mobile" nzTheme="outline"></span>
                                                {{officer2Mobile}}
                                            </div>

                                            <div nz-col nzSpan="24"
                                                style="text-align: left; height: 20px; overflow: hidden; font-size: 12px; font-weight: bold; color: black;">
                                                {{officer2Name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div nz-row>
                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{officer2Federation}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{officer2Unit}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{officer2Group}}
                                    </div>

                                    <div nz-col nzSpan="7"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        DOB : {{officer2DOB}}
                                    </div>

                                    <div nz-col nzSpan="17"
                                        style="text-align: right; height: 20px; overflow: hidden; font-size: 10px;">
                                        <span nz-icon nzType="mail" nzTheme="outline"></span>
                                        {{officer2Email}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 40px; overflow: hidden; font-size: 10px;">
                                        <span nz-icon nzType="environment" nzTheme="outline"></span>
                                        {{officer2Address}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 40px; overflow: hidden; font-size: 10px;">
                                        <!-- I/C : {{officer2InchargeOf}} -->
                                    </div>
                                </div>

                                <div nz-row>
                                    <div nz-col nzSpan="24" style="text-align: center;">
                                        <button type="button" nzType="default" nz-button (click)="addMembers(3)"
                                            style="height: 25px;"
                                            *ngIf="(federationID == tempOpenedUnitsFederationID) || (unitID == tempOpenedUnitID)"><span>Manage</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" style="margin-bottom: 5px;">
                    <div
                        style="text-align: center; border: 2px solid rgb(173, 170, 170); border-radius: 5px; width: 100%; height: 260px; padding: 5px; cursor: pointer;">

                        <div nz-row>
                            <div nz-col nzSpan="24">
                                <div nz-row>
                                    <div nz-col nzSpan="6">
                                        <span>
                                            <img [src]="vpPhoto"
                                                style="height: 60px; width: 60px; border: 2px solid gray; border-radius: 50%; cursor: pointer;">
                                        </span>
                                    </div>

                                    <div nz-col nzSpan="18">
                                        <div nz-row>
                                            <div nz-col nzSpan="24"
                                                style="text-align: right; color: black; font-size: 15px; font-weight: bold;">
                                                <span style="background-color: rgb(197, 195, 195); padding: 3px;">
                                                    Vice president
                                                </span>
                                            </div>

                                            <div nz-col nzSpan="24"
                                                style="text-align: left; height: 20px; overflow: hidden; font-size: 10px; font-weight: bold; color: gray;">
                                                <span nz-icon nzType="mobile" nzTheme="outline"></span>
                                                {{vpMobile}}
                                            </div>

                                            <div nz-col nzSpan="24"
                                                style="text-align: left; height: 20px; overflow: hidden; font-size: 12px; font-weight: bold; color: black;">
                                                {{vpName}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div nz-row>
                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{vpFederation}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{vpUnit}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        {{vpGroup}}
                                    </div>

                                    <div nz-col nzSpan="7"
                                        style="text-align: left; height: 20px; overflow: hidden; font-size: 10px;">
                                        DOB : {{vpDOB}}
                                    </div>

                                    <div nz-col nzSpan="17"
                                        style="text-align: right; height: 20px; overflow: hidden; font-size: 10px;">
                                        <span nz-icon nzType="mail" nzTheme="outline"></span>
                                        {{vpEmail}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 40px; overflow: hidden; font-size: 10px;">
                                        <span nz-icon nzType="environment" nzTheme="outline"></span>
                                        {{vpAddress}}
                                    </div>

                                    <div nz-col nzSpan="24"
                                        style="text-align: left; height: 40px; overflow: hidden; font-size: 10px;">
                                        <!-- I/C : {{vpInchargeOf}} -->
                                    </div>
                                </div>

                                <div nz-row>
                                    <div nz-col nzSpan="24" style="text-align: center;">
                                        <button type="button" nzType="default" nz-button (click)="addMembers(4)"
                                            style="height: 25px;"
                                            *ngIf="(federationID == tempOpenedUnitsFederationID) || (unitID == tempOpenedUnitID)"><span>Manage</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-spin>
    </form>
</div>

<div class="footer">
    <span
        *ngIf="(unitBODStatusData.length > 0) && (unitBODStatusData[0]['UNIT_BOD_STATUS'] == 'P') && (unitID == tempOpenedUnitID)">
        <b style="color: blue;">
            New BOD approval email sent to federation president
        </b>
    </span>

    <span
        *ngIf="(unitBODStatusData.length > 0) && (unitBODStatusData[0]['UNIT_BOD_STATUS'] == 'P') && (unitID == tempOpenedUnitID)">
        <button nz-button type="button" class="ant-btn" [nzLoading]="isSpinning" nz-popconfirm
            nzPopconfirmTitle="Are you sure want to delete finalised BOD?" (nzOnConfirm)="deleteFinalisedBOD()"
            (nzOnCancel)="cancel()" nzPopconfirmPlacement="top" style="margin-right: 8px;">
            <span style="color: red;">
                Delete finalised BOD
            </span>
        </button>
    </span>

    <span
        *ngIf="(unitBODStatusData.length > 0) && (unitBODStatusData[0]['UNIT_BOD_STATUS'] == 'A') && (unitID == tempOpenedUnitID)">
        <b style="color: green;">
            New BOD approved by federation president
        </b>
    </span>

    <span
        *ngIf="(unitBODStatusData.length > 0) && (unitBODStatusData[0]['UNIT_BOD_STATUS'] == 'R') && (unitID == tempOpenedUnitID)">
        <b style="color: red;">
            New BOD rejected by federation president
        </b>&nbsp;
    </span>

    <button nz-button type="button" class="ant-btn" style="margin-right: 8px;" [nzLoading]="isSpinning"
        *ngIf="((unitBODStatusData.length == 0) || (unitBODStatusData[0]['UNIT_BOD_STATUS'] == 'R')) && (unitID == tempOpenedUnitID)"
        nz-popconfirm nzPopconfirmTitle="Are you sure want to send new BOD approval email?"
        (nzOnConfirm)="sendForApprovalToFederationPresident()" (nzOnCancel)="cancel()" nzPopconfirmPlacement="top">
        <span style="color: green;">
            Send email for approval to federation president
        </span>
    </button>

    <span
        *ngIf="(unitBODStatusData.length > 0) && (unitBODStatusData[0]['UNIT_BOD_STATUS'] == 'P') && (federationID > 0) && (federationID == tempOpenedUnitsFederationID)">
        <b>Unit Director sends you, unit's new BOD for approval</b>&nbsp;

        <button nz-button type="button" class="ant-btn" style="margin-right: 8px;" (click)="sendForApproval()">
            Check
        </button>
    </span>

    <span
        *ngIf="(unitBODStatusData.length > 0) && (unitBODStatusData[0]['UNIT_BOD_STATUS'] == 'A') && (federationID > 0) && (federationID == tempOpenedUnitsFederationID)">
        <b style="color: green;">
            Unit's new BOD approved
        </b>
    </span>

    <span
        *ngIf="(unitBODStatusData.length > 0) && (unitBODStatusData[0]['UNIT_BOD_STATUS'] == 'R') && (federationID > 0) && (federationID == tempOpenedUnitsFederationID)">
        <b style="color: red;">
            Unit's new BOD rejected
        </b>
    </span>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>Select Member</ng-template>

    <ng-template #modalContent>
        <form nz-form #myForm="ngForm">
            <nz-spin [nzSpinning]="isConfirmLoading">
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>Member</nz-form-label>

                            <nz-form-control>
                                <nz-select name="newEmpID" nzShowSearch nzAllowClear [nzLoading]="memberLoading"
                                    style="width: 100%" nzPlaceHolder="Select Member" [(ngModel)]="NEW_MEMBER_ID">

                                    <nz-option nzCustomContent *ngFor="let member of members" [nzValue]="member.ID"
                                        [nzLabel]="member.NAME">

                                        <div nz-row>
                                            <div nz-col nzSpan="3" style="margin-top: 14px;">
                                                <nz-avatar nzText="{{getInitial(member.NAME) | uppercase }}"
                                                    nzSize="large" style="color:red; background-color:#fde3cf;">
                                                </nz-avatar>
                                            </div>

                                            <div nz-col nzSpan="21">
                                                <div nz-row>
                                                    <div nz-col nzSpan="12" style="color: black; font-size: 14px;">
                                                        <b>{{member.NAME}}</b>
                                                    </div>

                                                    <div nz-col nzSpan="12" style="font-size: 11px;">
                                                        <i nz-icon nzType="mobile" nzTheme="outline"
                                                            style="color: black;">
                                                        </i>&nbsp;

                                                        {{member.MOBILE_NUMBER}}
                                                    </div>

                                                    <div nz-col nzSpan="12" style="font-size: 11px;">
                                                        Federation :&nbsp;
                                                        {{member.FEDERATION_NAME}}
                                                    </div>

                                                    <div nz-col nzSpan="12" style="font-size: 11px;">
                                                        Unit :&nbsp;
                                                        {{member.UNIT_NAME}}
                                                    </div>

                                                    <div nz-col nzSpan="12" style="font-size: 11px;">
                                                        Group :&nbsp;
                                                        {{member.GROUP_NAME}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-spin>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">
            Cancel
        </button>

        <button nz-button nzType="primary" (click)="handleOk(data)" [nzLoading]="isConfirmLoading">
            Submit
        </button>
    </ng-template>
</nz-modal>

<!-- manage unit BOD drawer -->
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="getWidth()"
    [nzVisible]="memberDrawerVisible" [nzTitle]="memberDrawerTitle" (nzOnClose)="memberDrawerClose()"
    (nzKeyboard)="true">

    <app-manage-unit-members [drawerClose]="memberDrawerCloseCallback" [drawerVisible]="memberDrawerVisible"
        [data]="data" [BOD_Position]="BOD_Position" [memberDrawerRoleName]="memberDrawerRoleName">
    </app-manage-unit-members>
</nz-drawer>

<!-- Send for approval drawer -->
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1300"
    [nzVisible]="sendApprovalDrawerVisible" [nzTitle]="sendApprovalDrawerTitle" (nzOnClose)="sendApprovalDrawerClose()"
    (nzKeyboard)="true">

    <app-unit-bod-send-for-approval [drawerClose]="sendApprovalDrapwerCloseCallback"
        [drawerVisible]="sendApprovalDrawerVisible" [DOCUMENTS_LIST]="DOCUMENTS_LIST" [PAYMENT_LIST]="PAYMENT_LIST"
        [BIO_DATA_LIST]="BIO_DATA_LIST" [UNIT_INFO]="UNIT_INFO" [NEW_UNIT_BOD]="NEW_UNIT_BOD">
    </app-unit-bod-send-for-approval>
</nz-drawer>