<div>
    <div class="header">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn">
            <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
    </div>

    <form nz-form #myForm="ngForm">
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Federation</nz-form-label>

                        <nz-form-control nzHasFeedback nzErrorTip="Please Select Valid Federation">
                            <nz-select name="federationName" nzShowSearch nzAllowClear style="width: 100%"
                                nzPlaceHolder="Select Federation" [(ngModel)]="data.FEDERATION_ID" required>

                                <nz-option *ngFor="let federation of federations" [nzValue]="federation.ID"
                                    [nzLabel]="federation.NAME">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Unit Name</nz-form-label>

                        <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Unit Name">
                            <input nz-input name="modelName" placeHolder="Enter Unit Name" maxlength="256" type="text"
                                [pattern]="namePattern" [(ngModel)]="data.NAME" required />
                        </nz-form-control>

                        <span *ngIf="data.NAME" style="font-size: 10px; color: red;">{{data.NAME.length}}/
                            250</span>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Short Name</nz-form-label>

                        <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Short Name">
                            <input nz-input name="shortName" placeHolder="Enter Short Name" maxlength="4" type="text"
                                [pattern]="shortNamePattern" [(ngModel)]="data.SHORT_NAME" required />
                        </nz-form-control>

                        <span *ngIf="data.SHORT_NAME" style="font-size: 10px; color: red;">
                            {{data.SHORT_NAME.length}}/ 4
                        </span>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Date</nz-form-label>

                        <nz-form-control>
                            <nz-date-picker name="date" nzFormat="dd/MM/yyyy" [(ngModel)]="data.BO_DATE">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzNoColon>Status</nz-form-label>

                        <nz-form-control>
                            <nz-switch name="status" [(ngModel)]="data.STATUS"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-spin>
    </form>

    <div class="footer">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn" style="margin-right: 8px;">
            <span>Cancel</span>
        </button>

        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data['ID']" nz-button [nzLoading]="isSpinning"
            nz-dropdown [nzDropdownMenu]="menu" (click)="save(false,myForm)">
            <span>Save & Close</span>
        </button>

        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
                    <a (click)="save(true,myForm)">Save & New</a>
                </li>
            </ul>
        </nz-dropdown-menu>

        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data['ID']"
            (click)="save(false,myForm)">
            <span>Update & close</span>
        </button>
    </div>
</div>