nz-select {
    margin-right: 8px;
}
.header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 700px;
}
.grouping {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    background-color: #fafafa;
}

nz-input-number {
    width: 250px;
}

#drawerPastdata {
    overflow-y: scroll;
    height: 150px;
}

nz-card {
    width: 300px;
    text-align: center;
    font-size: 14px;
}

th {
    text-align: center !important;
    font-weight: bold;
}

.td_center {
    text-align: center !important;

}