.search-box {
    padding: 8px;
    width: 368px;
  }

th {
    text-align: center !important;
    vertical-align: middle !important;
    width:200px;
}
.grouping {
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  /* margin-bottom: 12px; */
  background-color: #fafafa;
}

@media print {
  tbody {page-break-before: always;}
}

