nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
  }
  
  .grouping {
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    /* margin-bottom: 12px; */
    background-color: #fafafa;
  }
  
  .footer {
    float: right;
  }

  th{
    text-align: center!important;
  }
  .datecenter{
    text-align: center!important;
  }
  nz-select {
    width: 100%;
  }

  .ant-select-tree li ul {
      padding: 0 0 0 0 !important;
  }
  .ant-select-tree li {
    margin: 0 0!important;
}

