<div>
    <form nz-form>
        <div nz-row class="grouping">
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired nzNoColon>Date</nz-form-label>
                    <nz-form-control  >
                        <nz-date-picker name="impleme" [(ngModel)]="data.DATE"
                            (ngModelChange)="onChange($event)" >
                        </nz-date-picker>
                    </nz-form-control>
                    <span *ngIf="validation==false && (data.DATE=='' || data.DATE==undefined)"
                        style="color:red">Please fill the field</span>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzRequired nzNoColon>Description</nz-form-label>
                    <nz-form-control  >
                        <textarea nz-input placeholder="Enter Description" name="descrip"
                        [(ngModel)]="data.DESCRIPTION" maxlength="500"
                            [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                    </nz-form-control>
                    <span *ngIf="data.DESCRIPTION" style="font-size: 10px; color: red;">
                        {{data.DESCRIPTION.length}}/ 500
                    </span>
                    <span *ngIf="validation==false && (data.DESCRIPTION=='' || data.DESCRIPTION==undefined)"
                        style="color:red">Please fill the field</span>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>
<div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px">
        <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button
        (click)="save(false)">
        <span>Add & close</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" nz-button *ngIf="data.ID"
        (click)="save(false)">
        <span>Update & close</span>
    </button>
</div>