.header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 0px;
}

nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
}

.my-box {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;
}

.avtar {
    position: relative;
    width: 300px;
    height: 130px;
    padding: 5px;
}

.plusIcon {
    position: absolute;
    top: 100px;
    right: 0;
    width: 450px;
    height: 100px;
}

.b1 {
    margin-left: 20px;
}