.login-form {
  width: 350px;
  background: #efefef;
  padding: 40px 35px;
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  border-radius: 50px;
}