th {
    text-align: center !important;
    vertical-align: middle !important;
}

.grouping {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: #fafafa;
}

.container {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
}

.edit1 {
    position: absolute;
    top: 0px;
    right: 30px;
    z-index: 100;
}

.edit {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
}

.header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 0px;
    right: 10px;
}