<div nz-row class="header" *ngIf="CurrentYear==SelectedYear">
    <button type="button" nz-button (click)="FetchOldData()">Fetch Data</button>
</div>

<div nz-row style="margin: 11px; left: 825px; position: absolute; top: 0px;">
    <nz-select placeholder="Select" name="hashTag" [(ngModel)]="SelectedYear" nzShowSearch nzAllowClear
        (ngModelChange)="SelectYear($event)" style="width: 150px">

        <nz-option *ngFor="let abc of range;" [nzValue]="abc" [nzLabel]="abc">
        </nz-option>
    </nz-select>
</div>

<nz-spin [nzSpinning]="isSpinning">
    <div>
        <form nz-form #myForm="ngForm">
            <div nz-row [nzGutter]="8" class="grouping">
                <div nz-col [nzSpan]="24">
                    <nz-form-label><b>Participation</b></nz-form-label>
                </div>
                <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>In meetings</nz-form-label>

                            <nz-form-control>
                                <nz-input-group nzAddOnAfter="Meeting">
                                    <input nz-input name="in_meeting" (keypress)="omit($event)"
                                        [(ngModel)]="data.NO_OF_IN_MEETINGS" placeholder="In Meeting" maxlength="5"
                                        (change)="inmeetings(data.NO_OF_IN_MEETINGS,data.MEETINGS_OUT_OF)" />
                                </nz-input-group>

                                <nz-input-group nzAddOnAfter="Out of">
                                    <input nz-input placeholder="Out Of" name="out_in_meeting" (keypress)="omit($event)"
                                        [(ngModel)]="data.MEETINGS_OUT_OF" maxlength="5"
                                        (change)="inmeetings(data.NO_OF_IN_MEETINGS,data.MEETINGS_OUT_OF)" />
                                </nz-input-group>
                            </nz-form-control>

                            <span *ngIf="(validation == false) && (data.NO_OF_IN_MEETINGS == null)" style="color: red">
                                Please fill the field
                            </span>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>In Project</nz-form-label>
                            <nz-form-control>

                                <nz-input-group nzAddOnAfter="Project">
                                    <input nz-input name="in_project" (keypress)="omit($event)"
                                        [(ngModel)]="data.NO_OF_PROJECTS" placeholder="In Project" maxlength="5"
                                        (change)="inproject(data.NO_OF_PROJECTS,data.PROJECTS_OUT_OF)" />
                                </nz-input-group>

                                <nz-input-group nzAddOnAfter="Out of">
                                    <input nz-input placeholder="Out Of" name="out_in_project" (keypress)="omit($event)"
                                        [(ngModel)]="data.PROJECTS_OUT_OF" maxlength="5"
                                        (change)="inproject(data.NO_OF_PROJECTS,data.PROJECTS_OUT_OF)" />
                                </nz-input-group>
                            </nz-form-control>

                            <span *ngIf="(validation == false) && (data.NO_OF_PROJECTS == null)" style="color:red">
                                Please fill the field
                            </span>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>Unit Conferences</nz-form-label>
                            <nz-form-control>

                                <nz-input-group nzAddOnAfter="Meeting">
                                    <input nz-input name="unit_conferences" (keypress)="omit($event)"
                                        [(ngModel)]="data.NO_UNIT_CONFERENCES" placeholder="Unit Conferences"
                                        maxlength="5"
                                        (change)="unitconferences(data.NO_UNIT_CONFERENCES,data.UNIT_CONFERENCES_OUT_OF)" />
                                </nz-input-group>

                                <nz-input-group nzAddOnAfter="Out of">
                                    <input nz-input placeholder="Out Of" name="out_unit_conferences"
                                        (keypress)="omit($event)" [(ngModel)]="data.UNIT_CONFERENCES_OUT_OF"
                                        maxlength="5"
                                        (change)="unitconferences(data.NO_UNIT_CONFERENCES,data.UNIT_CONFERENCES_OUT_OF)" />
                                </nz-input-group>
                            </nz-form-control>

                            <span *ngIf="(validation == false) && (data.NO_UNIT_CONFERENCES == null)"
                                style="color: red">
                                Please fill the field
                            </span>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="6">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>In G.I. Past Convention</nz-form-label>

                            <nz-form-control>
                                <input nz-input type="text" [(ngModel)]="data.PAST_CONVENTION" maxlength="5"
                                    name="past_convention" PlaceHolder="In G.I. Past Convention"
                                    (keypress)="omit($event)" />
                            </nz-form-control>

                            <span *ngIf="(validation == false) && (data.PAST_CONVENTION == null)"
                                style="color:red">Please
                                fill the field
                            </span>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="24">
                        <nz-form-label nzRequired nzNoColon>Convention Details</nz-form-label>
                        <nz-form-item>

                            <nz-form-control>
                                <textarea nz-input placeholder="Convention Details"
                                    [(ngModel)]="data.CONVENTION_DETAILS" name="convention_details" maxlength="2000"
                                    [nzAutosize]="{ minRows: 2, maxRows: 6 }">
                                </textarea>

                                <span
                                    *ngIf="(validation == false) && (data.CONVENTION_DETAILS == '' || data.CONVENTION_DETAILS == undefined)"
                                    style="color:red">Please fill the
                                    field</span>

                                <span style="font-size: 10px; color: red;"
                                    *ngIf="data.CONVENTION_DETAILS != '' && data.CONVENTION_DETAILS != null">
                                    {{data.CONVENTION_DETAILS.length}}/ 2000
                                </span>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div nz-row [nzGutter]="8" class="grouping">
                <div nz-col nzSpan="24">
                    <nz-form-label nzNoColon><b>Membership</b></nz-form-label>
                </div>
                <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <span style="color: red;">*</span>
                            <label>No. of members as on Previous Year</label>

                            <nz-form-control>
                                <input nz-input placeholder="Previous Year" name="MEMBER_PREVIOUS_YEAR"
                                    (keypress)="omit($event)" [(ngModel)]="data.MEMBER_PREVIOUS_YEAR" maxlength="5" />
                            </nz-form-control>

                            <span
                                *ngIf="validation == false && (data.MEMBER_PREVIOUS_YEAR == '' || data.MEMBER_PREVIOUS_YEAR == null)"
                                style="color:red">Please fill the field</span>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <span style="color: red;">*</span>
                            <label>New Members added during year</label>

                            <nz-form-control>
                                <input nz-input placeholder="New Members added during year" name="MEMBER_DURING_YEAR"
                                    (keypress)="omit($event)" [(ngModel)]="data.MEMBER_DURING_YEAR" maxlength="5" />
                            </nz-form-control>

                            <span
                                *ngIf="(validation == false) && (data.MEMBER_DURING_YEAR == null || data.MEMBER_DURING_YEAR == '')"
                                style="color:red">Please
                                fill the field</span>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="8">
                        <nz-form-item>
                            <span style="color: red;">*</span>
                            <label>Members dropped during the year</label>

                            <nz-form-control>
                                <input nz-input placeholder="Members dropped during the year"
                                    name="MEMBER_DROPPED_DURING_YEAR" (keypress)="omit($event)"
                                    [(ngModel)]="data.MEMBER_DROPPED_DURING_YEAR" maxlength="5" />
                            </nz-form-control>

                            <span
                                *ngIf="(validation == false) && (data.MEMBER_DROPPED_DURING_YEAR == '' || data.MEMBER_DROPPED_DURING_YEAR == null)"
                                style="color:red">Please
                                fill the field
                            </span>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>
                                Details of special efforts made for Growth
                            </nz-form-label>

                            <nz-form-control>
                                <angular-editor [placeholder]="'Growth Details'" [config]="editorConfig"
                                    name="growthdetails1" [(ngModel)]="data.GROWTH_DETAILS" maxlength="5000">
                                </angular-editor>
                            </nz-form-control>

                            <span
                                *ngIf="(validation == false) && (data.GROWTH_DETAILS == '' || data.GROWTH_DETAILS == null)"
                                style="color: red">
                                Please fill the field
                            </span><br>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-label nzRequired nzNoColon>Growth & Retention</nz-form-label>

                        <nz-form-item>
                            <nz-form-control>
                                <angular-editor [placeholder]="'Growth Retention'" [config]="editorConfig"
                                    name="growthretention" [(ngModel)]="data.GROWTH_RETENTION" maxlength="5000">
                                </angular-editor>

                                <span
                                    *ngIf=" validation == false && (data.GROWTH_RETENTION == '' || data.GROWTH_RETENTION == undefined)"
                                    style="color:red">Please fill the
                                    field</span>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>

            <div nz-row [nzGutter]="8" class="grouping">
                <div nz-col nzSpan="24">
                    <div nz-row [nzGutter]="8">
                        <div nz-col nzSpan="12">
                            <nz-form-label nzNoColon>
                                <b>Details to novel & imaginative projects undertaken during year team</b>
                            </nz-form-label>
                        </div>

                        <div nz-col nzSpan="12" style="text-align: right;">
                            <nz-form-item>
                                <nz-form-control *ngIf="CurrentYear == SelectedYear">
                                    <button type="button" nzTooltipTitle="Add Member" nzTooltipPlacement="top"
                                        class="ant-btn ant-btn-primary" nz-button (click)="AddPresidentDetils()">
                                        <span>Add New</span>
                                    </button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="8">
                        <nz-table #PresidentData [nzData]="drawerPresidentDetails" [nzShowPagination]="false" nzBordered
                            style="width: 100%; overflow: auto; height: 150px;">
                            <thead>
                                <tr>
                                    <th style="width: 10%;"><b>Action</b></th>
                                    <th style="width: 20%;"><b>Project Title</b></th>
                                    <th style="width: 20%;"><b>Project Date</b></th>
                                    <th style="width: 20%;"><b>Photographs</b></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let tab of PresidentData.data;let i = index">
                                    <td class="td_center"><a (click)="editdata(tab,i)">Edit</a></td>
                                    <td>{{ tab.PROJECT_TITLE }}</td>
                                    <td class="td_center">{{ tab.PROJECT_DATE | date:'dd-MM-yyyy' }}</td>
                                    <td class="td_center">
                                        <span
                                            *ngIf="tab.PHOTO_URL.type!='image/jpeg' && tab.PHOTO_URL.type!='image/jpg' &&  tab.PHOTO_URL.type!='image/png'">
                                            <a href="{{PhotoUrl}}/{{tab.PHOTO_URL}}" target="_blank">
                                                {{ tab.PHOTO_URL }}
                                            </a>
                                        </span>

                                        <span *ngIf="tab.PHOTO_URL!=''">
                                            {{ tab.PHOTO_URL.name}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>

            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="8">
                    <div class="grouping">
                        <nz-form-item>
                            <nz-form-label nzNoColon nzRequired>Financial position of the Group</nz-form-label>

                            <nz-form-item>
                                <nz-form-control>
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a position"
                                        name="financial_position" [(ngModel)]="data.FINANCIAL_POSITION">
                                        <nz-option nzLabel="Good" nzValue="Good"></nz-option>
                                        <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                                        <nz-option nzLabel="Weak" nzValue="Weak"></nz-option>
                                    </nz-select>
                                </nz-form-control>

                                <span
                                    *ngIf="validation==false && (data.FINANCIAL_POSITION=='' || data.FINANCIAL_POSITION==undefined)"
                                    style="color:red">Please fill the field
                                </span>
                            </nz-form-item>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-col nzSpan="16">
                    <div nz-row class="grouping">
                        <div nz-col nzSpan="16">
                            <nz-form-item>
                                <nz-form-label nzNoColon nzRequired>
                                    Attendance to Orientation Meeting Place
                                </nz-form-label>

                                <nz-form-control>
                                    <input nz-input type="text" [(ngModel)]="data.MEETING_PLACE" name="place"
                                        PlaceHolder="Place" />
                                </nz-form-control>

                                <span *ngIf="validation==false &&  (data.MEETING_PLACE=='' || data.MEETING_PLACE==null)"
                                    style="color:red">
                                    Please fill the field
                                </span>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label nzNoColon nzRequired>Date</nz-form-label>

                                <nz-form-control>
                                    <nz-date-picker [(ngModel)]="data.MEETING_DATE" name='created_date'
                                        [nzDisabledDate]="disabledDate" (ngModelChange)="onChange($event)"
                                        nzFormat="dd-MM-yyy">
                                    </nz-date-picker>
                                </nz-form-control>

                                <span *ngIf="validation==false &&  (data.MEETING_DATE=='' || data.MEETING_DATE==null)"
                                    style="color:red">
                                    Please fill the field
                                </span>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </div>
            <h4></h4>

            <div nz-row [nzGutter]="8" class="grouping">
                <div nz-col nzSpan="24">
                    <span style="color: red;" *ngIf="data.SWICTHING==true">*</span>

                    <label> Did you get an award at the Branch Convention ?</label>

                    <nz-switch [(ngModel)]="data.SWICTHING" nzCheckedChildren="YES" nzUnCheckedChildren="NO"
                        name="swicthing" style="margin-left:10px">
                    </nz-switch>

                    <nz-form-item>
                        <nz-form-control>
                            <textarea nz-input placeholder="Branch Convention" [(ngModel)]="data.BRANCH_CONVENTION"
                                name="branch_convention" [nzAutosize]="{ minRows: 2, maxRows: 6 }" maxlength="2000"
                                *ngIf="data.SWICTHING==true" style="margin-top: 10px;">
                            </textarea>
                        </nz-form-control>
                    </nz-form-item>

                    <span
                        *ngIf="data.SWICTHING==true && validation==false &&  (data.BRANCH_CONVENTION=='' || data.BRANCH_CONVENTION==undefined)"
                        style="color:red">Please fill the field
                    </span>

                    <span *ngIf="data.BRANCH_CONVENTION!='' && data.SWICTHING==true"
                        style="font-size: 10px; color: red;">
                        {{data.BRANCH_CONVENTION.length}}/ 2000
                    </span>
                </div>
            </div>

            <div nz-row [nzGutter]="8" class="grouping">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired>Any other relevant information</nz-form-label>

                        <nz-form-control>
                            <angular-editor [placeholder]="'Other Details'" [config]="editorConfig" name="otherdetails"
                                [(ngModel)]="data.OTHER_DETAILS" maxlength="5000"
                                (keyup)="lenthCount(data.OTHER_DETAILS.length)">
                            </angular-editor>
                        </nz-form-control>
                    </nz-form-item>

                    <span *ngIf="validation==false &&  (data.OTHER_DETAILS=='' || data.OTHER_DETAILS==null)"
                        style="color:red">
                        Please fill the field
                    </span>
                </div>
            </div>

            <div nz-row [nzGutter]="8" class="grouping">
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label nzNoColon nzRequired>Relevant Documents&nbsp;
                            <span *ngIf="data.FILE_URL && data.FILE_URL!='' || fileURL!=undefined && fileURL!=null ">
                                <i nz-icon style="margin-top: 3px;" nzType="delete" nzTheme="twotone"
                                    [nzTwotoneColor]="'#ff0000'" nz-popconfirm
                                    nzPopconfirmTitle="Are you sure delete this PDF?" (nzOnConfirm)="clear()"
                                    (nzOnCancel)="cancel()" nzPopconfirmPlacement="top">
                                </i>
                            </span>
                        </nz-form-label>

                        <nz-form-control>
                            <button nz-button style="height: 28px; padding: 0px 7px; font-size: 12px;"
                                (click)="fileInput1.click()">Choose File
                                <input #fileInput1 type="file" accept="application/pdf"
                                    (change)="onFileSelected($event)" (click)="fileInput1.value = null"
                                    style="display: none;" />
                            </button>

                            <br>

                            <span *ngIf="data.FILE_URL && data.FILE_URL!='' || fileURL!=undefined && fileURL!=null">
                                <a href="{{PdfUrl2}}/{{data.FILE_URL}}" target="_blank">
                                    {{data.FILE_URL || fileURL.name}}
                                </a>
                            </span>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </div>
</nz-spin>

<div class="footer">
    <button type="button" nz-button (click)="close(myForm)" class="ant-btn" style="margin-right: 8px;">
        <span>Cancel</span>
    </button>

    <span *ngIf="CurrentYear == SelectedYear">
        <span *ngIf="data.IS_SUBMITED != 'S'">
            <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button
                (click)="submit(false,myForm)" [nzLoading]="isSpinning" style="margin-right: 8px;">
                <span>Save as Draft & Close</span>
            </button>

            <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
                (click)="submit(false,myForm)" style="margin-right: 8px;"><span>Save as Draft & Close</span>
            </button>

            <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning"
                (click)="ApplySubmit(false,myForm)" style="margin-right: 8px;"><span>Apply for Award & Close</span>
            </button>
        </span>
    </span>

    <button type="button" nz-button (click)="showModal()" class="ant-btn"><span>Preview</span>
    </button>
</div>

<nz-drawer [nzBodyStyle]="{height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px'}" [nzClosable]="true"
    [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="getwidth()" [nzVisible]="PresidentProject"
    [nzTitle]="drawerTitle3" (nzOnClose)="drawerClose1()" (nzKeyboard)="true">

    <app-the-president-details [isRemarkVisible]="isRemarkVisible3" [drawerVisible]="PresidentProject"
        [data]="drawerTitleData1" [President_details]="submita" [drawerClose1]="closeCallback">
    </app-the-president-details>
</nz-drawer>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" [nzWidth]="900">
    <ng-template #modalTitle>Print Document</ng-template>

    <ng-template #modalContent>
        <div id="print">
            <div style="color:black; text-align: center; font-weight: bolder; font-size: 25px; padding-bottom: 5px;">
                GIANTS WELFARE FOUNDATION<br>
            </div>

            <div style="color:black; text-align: center; font-weight: bolder; font-size: 15px; padding-bottom: 5px;">
                AWARD BIDDING FORM NO. 5
            </div>

            <div style="color:black; text-align: center; font-weight: bolder; font-size: 15px; padding-bottom: 5px;">
                NAME OF THE AWARD : THE OUTSTANDING PRESIDENT
            </div>

            <br>

            <div nz-row>
                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;">
                                NAME OF THE PERSON :<b>{{data["MEMBER_NAME"] }}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div nz-row>
                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px;font-size: 15px;">
                                NAME OF THE GROUP :<b>{{data["GROUP_NAME"] }}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div nz-row>
                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 10px;">
                                1) PARTICIPATION
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 20px;">
                                a) In meetings :
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.NO_OF_IN_MEETINGS}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                out of
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.MEETINGS_OUT_OF}}</b>
                            </div>
                        </div>
                    </div>

                    <div style="width:100%">
                        <div style="display: flex;">
                            <div style="width: 100%">
                                <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 20px;">
                                    b) In projects :
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.NO_OF_PROJECTS}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                    out of
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.PROJECTS_OUT_OF}}</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%">
                        <div style="display: flex;">
                            <div style="width: 100%">
                                <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 20px;">
                                    c) Unit Conferences :
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.NO_UNIT_CONFERENCES}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                    out of
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.UNIT_CONFERENCES_OUT_OF}}</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width:100%">
                        <div style="display: flex;">
                            <div style="width: 100%">
                                <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 20px;">
                                    d) In G.I. Past Convention :
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.PAST_CONVENTION}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%">
                        <div style="display: flex;">
                            <div style="width: 100%">
                                <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 30px;">
                                    Convention Details :
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;Annexure "A"&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width:100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 10px;">
                                2) Membership
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 20px;">
                                a) No. of members as on Previous Year :
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.MEMBER_PREVIOUS_YEAR }}&nbsp;&nbsp;&nbsp;</b>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%">
                        <div style="display: flex;">
                            <div style="width: 100%">
                                <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 20px;">
                                    b) New Members added during year:
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.MEMBER_DURING_YEAR }}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%">
                        <div style="display: flex;">
                            <div style="width: 100%">
                                <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 20px;">
                                    c) Members dropped during the year :
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.MEMBER_DROPPED_DURING_YEAR
                                        }}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%">
                        <div style="display: flex;">
                            <div style="width: 100%">
                                <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 20px;">
                                    d) Details of special efforts made for
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%">
                        <div style="display: flex;">
                            <div style="width: 100%">
                                <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 30px;">Growth membership :
                                    <div [innerHTML]="data.GROWTH_DETAILS"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%">
                        <div style="display: flex;">
                            <div style="width:100%">
                                <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 30px;">Growth & Retention :
                                    <div [innerHTML]="data.GROWTH_RETENTION"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 10px;">
                                3) Details to novel & imaginative projects undertaken during year team:
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;Annexure “B"&nbsp;&nbsp;&nbsp;&nbsp;</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 10px;">
                                4) Financial position of the Group :
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.FINANCIAL_POSITION}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 10px;">
                                5) Attendance to Orientation Meeting :
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 30px;">
                                Place:
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.MEETING_PLACE}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 30px;">
                                Date:
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.MEETING_DATE |
                                    date:'dd-MMM-yyyy'}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 10px;">
                                6) Did you get an award at the
                                BRANCH CONVENTION? <b>{{data.SWICTHING}}</b> <br>
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.BRANCH_CONVENTION}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width:100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                                margin-left: 10px;">
                                7) Any other relevant information :
                                <b>&nbsp;&nbsp;&nbsp;&nbsp; Annexure C&nbsp;&nbsp;&nbsp;&nbsp;</b>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div
                    style="color:rgb(32, 32, 32); font-weight: bolder; font-size: 14px; padding-bottom: 5px; margin-left: 15px;">
                    We the undersigned D.A. and Vice President of the Giants Group of ……………..hereby
                    certify that the information contained herein is true to the best of our knowledge and
                    belief.
                </div>

                <div style="display: inline-flex; width: 100%; margin-top: 10px;">
                    <div style="width: 20%; padding-top: 30px; text-align: center;">
                        <b>Date:</b>
                        {{data.MEETING_DATE| date:'dd-MMM-yyyy'}}
                    </div>

                    <div style="width: 30%;">
                        <div
                            style="width: 80px; height: 80px; border-radius: 50%; border: 1px solid grey; margin: 0px auto; ">
                        </div>
                    </div>

                    <div style="width: 50%; text-align: center; padding-top: 30px;">
                        <b>Director of Administration . Vice President (Internal)</b>
                    </div>
                </div>
            </div>

            <div style="page-break-after: always;"></div>

            <div nz-row>
                <p style="display: flex; border-bottom: 1px solid rgb(39, 38, 38); padding-bottom: 5px;"></p>
                <div nz-row [nzGutter]="8">
                    <div
                        style="color:black; text-align: center; font-weight: bolder; font-size: 20px; padding-bottom: 5px;">
                        Annexure A</div>
                    <br>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px;
                            margin-left: 30px;">
                                Convention Details :
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.CONVENTION_DETAILS}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="page-break-after: always;"></div>

            <div nz-row>
                <p style="display: flex; border-bottom: 1px solid rgb(39, 38, 38); padding-bottom: 5px;"></p>
                <div nz-row [nzGutter]="8">
                    <div
                        style="color:black; text-align: center; font-weight: bolder; font-size: 20px; padding-bottom: 5px;">
                        Annexure B</div>
                    <br>
                </div>

                <div nz-row [nzGutter]="8">
                    <table style=" width:100%;">
                        <tr *ngFor="let tab of drawerPresidentDetails;">
                            <td>
                                <div nz-col nzSpan="23"
                                    style="color:#0b1113; margin-bottom: 1px; font-size: 15px; margin-left: 20px;"
                                    *ngIf="tab.PHOTO_URL != ' ' && tab.PHOTO_URL != ''">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="{{PhotoUrl}}/{{tab.PHOTO_URL}}" target="_blank">
                                        <img src="{{PhotoUrl}}/{{tab.PHOTO_URL}}" target="_blank"
                                            style=" width: 100%; height: 500px"><br>
                                    </a>
                                </div>

                                <div nz-col nzSpan="24"
                                    style="color:#0b1113; margin-bottom: 1px; font-size: 15px; margin-left: 20px;">
                                    Project Title :
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{tab.PROJECT_TITLE}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                    Date :
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{tab.PROJECT_DATE}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </div>

                                <div nz-col nzSpan="24"
                                    style="color:#0b1113; margin-bottom: 1px; font-size: 15px; margin-left: 20px;">
                                    Photo Details :
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{tab.PHOTO_DETAILS}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                </div>
                            </td>
                            <br>
                        </tr>
                    </table>
                </div>
            </div>

            <div style="page-break-after: always;"></div>

            <div nz-row>
                <p style="display: flex; border-bottom: 1px solid rgb(39, 38, 38); padding-bottom: 5px;"></p>
                <div nz-row [nzGutter]="8">
                    <div
                        style="color:black; text-align: center; font-weight: bolder; font-size: 20px; padding-bottom: 5px;">
                        Annexure C</div>
                    <br>
                </div>

                <div style="width: 100%">
                    <div style="display: flex;">
                        <div style="width: 100%">
                            <div style="color:#0b1113; margin-bottom: 1px; font-size: 15px; margin-left: 30px;"><b>Any
                                    other relevant information :</b>
                                <div [innerHTML]="data.OTHER_DETAILS"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">
            Cancel
        </button>

        <button nz-button nzType="default" [useExistingCss]="true" printSectionId="print" ngxPrint
            (click)="handleCancel()">
            Print
        </button>
    </ng-template>
</nz-modal>