nz-select {
  margin-right: 8px;
}

.grouping {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}

nz-input-number {
  width: 250px;
}

nz-card {
  width: 300px;
  text-align: center;
  font-size: 14px;
}

th {
  text-align: center !important;
}

.td_center {
  text-align: center !important;
}

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.header {
  position: absolute;
  top: 0px;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 700px;
}