<div>
    <div class="header">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn"><i nz-icon nzType="close"
                nzTheme="outline"></i></button>
    </div>

    <form nz-form #myForm="ngForm">
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Old Password</nz-form-label>

                        <nz-form-control nzHasFeedback nzErrorTip="Old Password is required">
                            <nz-input-group [nzSuffix]="suffixTemplate1">
                                <input [type]="passwordVisible1 ? 'text' : 'password'" nz-input name="OLD_PASSWORD"
                                    placeHolder="Enter Old Password" [(ngModel)]="OLD_PASSWORD" maxlength="15"
                                    required />
                            </nz-input-group>

                            <ng-template #suffixTemplate1>
                                <i nz-icon [nzType]="passwordVisible1 ? 'eye' : 'eye-invisible'"
                                    (click)="passwordVisible1 = !passwordVisible1"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>New Password</nz-form-label>

                        <nz-form-control nzHasFeedback nzErrorTip="New Password is required">
                            <nz-input-group [nzSuffix]="suffixTemplate2">
                                <input [type]="passwordVisible2 ? 'text' : 'password'" nz-input name="NEW_PASSWORD"
                                    placeHolder="Enter New Password" [(ngModel)]="NEW_PASSWORD"
                                    pattern="([A-Za-z0-9@#\s]){8,}" minlength="8" maxlength="15" required />
                            </nz-input-group>

                            <ng-template #suffixTemplate2>
                                <i nz-icon [nzType]="passwordVisible2 ? 'eye' : 'eye-invisible'"
                                    (click)="passwordVisible2 = !passwordVisible2"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Re-enter New Password</nz-form-label>

                        <nz-form-control nzHasFeedback nzErrorTip="Re-enter Password is required">
                            <nz-input-group [nzSuffix]="suffixTemplate3">
                                <input [type]="passwordVisible3 ? 'text' : 'password'" nz-input name="RE_ENTER_PASSWORD"
                                    placeHolder="Re-enter New Password" [(ngModel)]="RE_ENTER_PASSWORD" maxlength="15"
                                    required />
                            </nz-input-group>

                            <ng-template #suffixTemplate3>
                                <i nz-icon [nzType]="passwordVisible3 ? 'eye' : 'eye-invisible'"
                                    (click)="passwordVisible3 = !passwordVisible3"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Existing Password</nz-form-label>

                        <nz-form-control>
                            <nz-input-group [nzSuffix]="suffixTemplate4">
                                <input [type]="passwordVisible4 ? 'text' : 'password'" nz-input name="EXISTING_PASSWORD"
                                    [(ngModel)]="EXISTING_PASSWORD" required />
                            </nz-input-group>

                            <ng-template #suffixTemplate4>
                                <i nz-icon [nzType]="passwordVisible4 ? 'eye' : 'eye-invisible'"
                                    (click)="passwordVisible4 = !passwordVisible4"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
            </div>
        </nz-spin>
    </form>

    <div class="footer">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn"
            style="margin-right: 8px;"><span>Cancel</span></button>

        <button type="button" class="ant-btn ant-btn-primary" nz-button (click)="save(myForm)" [nzLoading]="isSpinning"
            style="margin-right: 8px;"><span>Reset</span></button>
    </div>
</div>