table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

th {
    border: 1px solid gray;
    text-align: center;
    padding: 8px;
}

td {
    border: 1px solid gray;
    padding: 8px;
}