.container {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.edit {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
}
.edit1 {
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 100;
}