
.filterButton {
  width: 90px;
  
}

.filterButton :hover {
  width: 90px;
  background-color: #78cdea;
  color: black;
}
.search-button {
  margin-right: 8px;
}

* {
  margin: 0;
  padding: 0;

}

button:active{

  /* background-color: rgb(123, 180, 17); */
  background-color: #28a745
  }

.bgProject {
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  position: sticky;
  top: 0px;
  z-index: 10;
}


.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #f5f5f5;
  
}

/* .button2 {
  background-color: rgb(251, 84, 84); 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #78cdea;
  color: rgb(120, 118, 118);
} */

th {
  text-align: center !important;
  vertical-align: middle !important;
}

nz-modal{
  width: 405px;
}


nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.grouping {
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  /* margin-bottom: 12px; */
  background-color: #fafafa;
}

.footer {
  float: right;
}
.dot {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: inline-block;
  /* margin-left: 650px; */
  border: 2px solid black;
}

.datecenter{
  text-align: center!important;
}
/* nz-table{
  overflow-y: scroll;
  height: 150px;
} */

nz-select {
  width: 100%;
}
