nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
  }
  
  .grouping {
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    /* margin-bottom: 12px; */
    background-color: #fafafa;
  }
  
  .footer {
    float: right;
  }
  .dot {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    /* margin-left: 650px; */
    border: 2px solid black;
  }
  th{
    text-align: center!important;
  }
  .datecenter{
    text-align: center!important;
  }
  /* nz-table{
    overflow-y: scroll;
    height: 150px;
  } */
  
  nz-select {
    width: 100%;
  }
  .ant-select-tree li ul {
    margin: 0;
    padding: 0 0 0 0;
  }
  nz-table{
    width: 100%;
  }
  