<div>
    <div class="header">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn">
            <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
    </div>

    <form nz-form #myForm="ngForm">
        <div nz-row nzGutter="10">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="loadingRecords"
                style="padding-top: 10px; text-align: center;">
                <nz-spin nzSimple></nz-spin>
            </div>

            <div *ngIf="!loadingRecords">
                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" style="padding-top: 10px; cursor: pointer;"
                    (click)="showModal()">
                    <div
                        style="border-radius: 5px; background-color: white; padding: 10px; box-shadow: 1px 1px 3px 3px rgb(220, 218, 218); height: 100px;">
                        <div style="height: 100%;">
                            <div class="container">
                                <div class="vertical-center" style="width: 100%;">
                                    <div style="text-align: center;">
                                        <span nz-icon nzType="plus-circle" nzTheme="twotone" style="font-size: 30px;">
                                        </span>
                                    </div>

                                    <div style="text-align: center;">
                                        <b>Add {{memberDrawerRoleName}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" *ngFor="let data of dataList; let i=index;"
                    style="padding-top: 10px;">
                    <div
                        style="border-radius: 5px; background-color: white; padding: 10px; box-shadow: 1px 1px 3px 3px rgb(220, 218, 218); height: 100px;">
                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <div nz-row>
                                    <div nz-col nzXs="23" nzSm="23" nzMd="23" nzLg="23" nzXl="23">
                                        <div style="font-weight: bold; text-align: center; height: 40px;">
                                            {{data.MEMBER_NAME}}
                                        </div>
                                    </div>

                                    <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1">
                                        <i nz-icon *ngIf="data['STATUS'] == 'P'" style="color: red;" nzType="delete"
                                            nzTheme="outline" (click)="onDeleteBtnClick(data)">
                                        </i>
                                    </div>
                                </div>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <div nz-row>
                                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                        <div
                                            style="font-size: 10px; font-weight: bold; text-align: left; height: 20px;">
                                            {{data.START_DATE | date:'dd MMM yyyy'}}
                                        </div>
                                    </div>

                                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                        <div
                                            style="font-size: 10px; font-weight: bold; text-align: right; height: 20px;">
                                            {{data.END_DATE | date:'dd MMM yyyy'}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                <div style="text-align: left;">
                                    <span>
                                        <nz-select name="status{{i}}" nzSize="small" nzShowSearch style="width: 95%"
                                            nzPlaceHolder="Select Status" (ngModelChange)="changeStatus($event,data)"
                                            [(ngModel)]="data['STATUS']"
                                            [disabled]="enableOrDisableStatusWise(data['STATUS'])">

                                            <nz-option nzValue="P" nzLabel="Pending"></nz-option>
                                            <nz-option nzValue="R" nzLabel="Rejected"></nz-option>
                                            <nz-option nzValue="A" nzLabel="Approved"></nz-option>
                                        </nz-select>
                                    </span>
                                </div>
                            </div>

                            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                <div style="text-align: right;">
                                    <span>
                                        <nz-select name="activestatus{{i}}" nzSize="small" nzShowSearch
                                            style="width: 95%" nzPlaceHolder="Select Active Status"
                                            (ngModelChange)="changeActiveStatus($event,data)"
                                            [(ngModel)]="data['ACTIVE_STATUS']"
                                            [disabled]="enableOrDisableActiveStatusWise(data['STATUS'])">

                                            <nz-option nzValue="N" nzLabel="NA"></nz-option>
                                            <nz-option nzValue="U" nzLabel="Upcoming"></nz-option>
                                            <nz-option nzValue="A" nzLabel="Current"></nz-option>
                                            <nz-option nzValue="E" nzLabel="Past"></nz-option>
                                            <nz-option nzValue="R" nzLabel="Retired"></nz-option>
                                        </nz-select>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>Select {{memberDrawerRoleName}}</ng-template>

    <ng-template #modalContent>
        <form nz-form #myForm="ngForm">
            <nz-spin [nzSpinning]="isConfirmLoading">
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>Member</nz-form-label>

                            <nz-form-control>
                                <nz-select name="newEmpID" nzShowSearch nzAllowClear nzServerSearch
                                    [nzLoading]="memberLoading" style="width: 100%" nzPlaceHolder="Type here to search"
                                    (nzOnSearch)="getFederationWiseMembers($event)"
                                    (ngModelChange)="getMemberData($event)" [(ngModel)]="NEW_MEMBER_ID">
                                    <nz-option nzCustomContent *ngFor="let member of members" [nzValue]="member.ID"
                                        [nzLabel]="member.NAME">
                                        <div nz-row>
                                            <div nz-col nzSpan="3" style="margin-top: 14px;">
                                                <nz-avatar nzText="{{getInitial(member.NAME) | uppercase }}"
                                                    nzSize="large" style="color:red; background-color:#fde3cf;">
                                                </nz-avatar>
                                            </div>

                                            <div nz-col nzSpan="21">
                                                <div nz-row>
                                                    <div nz-col nzSpan="16" style="color: black; font-size: 14px;">
                                                        <b>{{member.NAME}}</b>
                                                    </div>

                                                    <div nz-col nzSpan="8" style="font-size: 11px;">
                                                        <i nz-icon nzType="mobile" nzTheme="outline"
                                                            style="color: black;">
                                                        </i>&nbsp;
                                                        {{member.MOBILE_NUMBER}}
                                                    </div>

                                                    <div nz-col nzSpan="24" style="font-size: 11px;">
                                                        Federation :&nbsp;
                                                        {{member.FEDERATION_NAME}}
                                                    </div>

                                                    <div nz-col nzSpan="24" style="font-size: 11px;">
                                                        Unit :&nbsp;
                                                        {{member.UNIT_NAME}}
                                                    </div>

                                                    <div nz-col nzSpan="24" style="font-size: 11px;">
                                                        Group :&nbsp;
                                                        {{member.GROUP_NAME}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>Start Date</nz-form-label>

                            <nz-form-control>
                                <nz-date-picker name="startDate" nzFormat="dd/MM/yyyy"
                                    (ngModelChange)="startDateChange()" [(ngModel)]="START_DATE">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzRequired nzNoColon>End Date</nz-form-label>

                            <nz-form-control>
                                <nz-date-picker name="endDate" [nzDisabledDate]="disabledExpiryDate"
                                    nzFormat="dd/MM/yyyy" [(ngModel)]="END_DATE">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                        <nz-form-item>
                            <nz-form-label nzNoColon>
                                Incharge of &nbsp;
                                <span nz-icon nzType="plus-circle" nzTheme="twotone"
                                    style="font-size: 20px; cursor: pointer;" (click)="addInchargeOf()">
                                </span>
                            </nz-form-label>

                            <nz-form-control>
                                <nz-select name="inchargeOf" nzShowSearch nzAllowClear [nzMaxTagCount]="5"
                                    nzMode="multiple" style="width: 100%" nzPlaceHolder="Select Incharge Area"
                                    [(ngModel)]="INCHARGE_OF">

                                    <nz-option *ngFor="let inchargeArea of inchargeAreas;" [nzValue]="inchargeArea.ID"
                                        [nzLabel]="inchargeArea.NAME">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-spin>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">
            Cancel
        </button>

        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">
            Submit
        </button>
    </ng-template>
</nz-modal>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="450"
    [nzVisible]="inchargeAreaDrawerVisible" [nzTitle]="inchargeAreaDrawerTitle" (nzOnClose)="inchargeAreaDrawerClose()"
    (nzKeyboard)="true">

    <app-incharge-area-drawer [drawerClose]="inchargeAreaDrawerCloseCallback" [drawerVisible]="drawerVisible"
        [data]="inchargeAreaDrawerData">
    </app-incharge-area-drawer>
</nz-drawer>