<div>
    <div class="header">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn">
            <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
    </div>

    <form nz-form #myForm="ngForm">
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row nzGutter="10">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                    <div class="my-box" [ngClass]="readOnly ? 'divReadOnly' : ''">
                        <div nz-row nzGutter="10">
                            <div nz-col nzSpan="12">
                                <div nz-row>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"
                                        style="text-align: center;">
                                        <nz-form-item>
                                            <nz-form-label nzNoColon>
                                                Photo &nbsp;

                                                <span *ngIf="data.PROFILE_IMAGE">
                                                    <i nz-icon style="margin-top: 3px;" nzType="delete"
                                                        nzTheme="twotone" [nzTwotoneColor]="'#ff0000'" nz-popconfirm
                                                        nzPopconfirmTitle="Are you sure delete this Image?"
                                                        (nzOnConfirm)="clear1()" (nzOnCancel)="cancel()"
                                                        nzPopconfirmPlacement="top">
                                                    </i>
                                                </span>
                                            </nz-form-label>

                                            <nz-form-control>
                                                <button nz-button
                                                    style="height: 28px; padding: 0px 7px; font-size: 12px;"
                                                    (click)="fileInput1.click()">Choose File

                                                    <input #fileInput1 type="file" accept="image/*"
                                                        (change)="onFileSelected1($event)"
                                                        (click)="fileInput1.value = null" style="display: none;" />
                                                </button>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>

                                    <span *ngIf="data.PROFILE_IMAGE">
                                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"
                                            style="text-align: center;">
                                            <nz-form-item>
                                                <img [src]="data.PROFILE_IMAGE" (click)="viewImage(data.PROFILE_IMAGE)"
                                                    style="height: 160px; width: 160px; border: 2px solid gray; border-radius: 50%; cursor: pointer;">
                                            </nz-form-item>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div nz-col nzSpan="12">
                                <div nz-row>
                                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"
                                        style="text-align: center;">
                                        <nz-form-item>
                                            <nz-form-label nzNoColon>
                                                Signature &nbsp;

                                                <span *ngIf="data.SIGNATURE">
                                                    <i nz-icon style="margin-top: 3px;" nzType="delete"
                                                        nzTheme="twotone" [nzTwotoneColor]="'#ff0000'" nz-popconfirm
                                                        nzPopconfirmTitle="Are you sure delete this Image?"
                                                        (nzOnConfirm)="clear2()" (nzOnCancel)="cancel()"
                                                        nzPopconfirmPlacement="top">
                                                    </i>
                                                </span>
                                            </nz-form-label>

                                            <nz-form-control>
                                                <button nz-button
                                                    style="height: 28px; padding: 0px 7px; font-size: 12px;"
                                                    (click)="fileInput2.click()">Choose File

                                                    <input #fileInput2 type="file" accept="image/*"
                                                        (change)="onFileSelected2($event)"
                                                        (click)="fileInput2.value = null" style="display: none;" />
                                                </button>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>

                                    <span *ngIf="data.SIGNATURE">
                                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"
                                            style="text-align: center;">
                                            <nz-form-item>
                                                <img [src]="data.SIGNATURE" (click)="viewSignature(data.SIGNATURE)"
                                                    style="height: 90px; width: 160px; border: 2px solid gray; border-radius: 5px; cursor: pointer;">
                                            </nz-form-item>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-box" [ngClass]="readOnly ? 'divReadOnly' : ''">
                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Bio Data (pdf)
                                        <span *ngIf="data.BIODATA_URL">
                                            <i nz-icon style="margin-top: 3px;" nzType="delete" nzTheme="twotone"
                                                [nzTwotoneColor]="'#ff0000'" nz-popconfirm
                                                nzPopconfirmTitle="Are you sure delete this file?"
                                                (nzOnConfirm)="pdfClear1()" (nzOnCancel)="cancel()"
                                                nzPopconfirmPlacement="top">
                                            </i>
                                        </span>
                                    </nz-form-label>

                                    <nz-form-control>
                                        <button nz-button style="height: 28px; padding: 0px 7px; font-size: 12px;"
                                            (click)="pdfFileInput1.click()">Choose File

                                            <input #pdfFileInput1 type="file" accept="application/pdf"
                                                (change)="onPdfFileSelected1($event)"
                                                (click)="pdfFileInput1.value = null" style="display: none;" />
                                        </button>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="23" nzSm="23" nzMd="23" nzLg="23" nzXl="23" *ngIf="pdfFileURL1 != null"
                                style="overflow: hidden; font-size: 13px;">
                                {{pdfFileURL1.name}}
                            </div>

                            <div nz-col nzXs="1" nzSm="1" nzMd="1" nzLg="1" nzXl="1" *ngIf="pdfFileURL1 != null">
                                <i nz-icon nzType="delete" (click)="pdfClear1()" [nzTheme]="'twotone'"
                                    [nzTwotoneColor]="'#ff0000'">
                                </i>
                            </div>

                            <div nz-col nzXs="23" nzSm="23" nzMd="23" nzLg="23" nzXl="23"
                                *ngIf="(data.BIODATA_URL != '') && (pdfFileURL1 == null)"
                                style="overflow: hidden; font-size: 13px;">
                                <a (click)="viewBioData(data.BIODATA_URL)">{{data.BIODATA_URL}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="my-box" [ngClass]="readOnly ? 'divReadOnly' : ''">
                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>
                                        Salutation
                                    </nz-form-label>

                                    <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Salutation">
                                        <nz-select name="Salutation" nzPlaceHolder="Salutation"
                                            [(ngModel)]="data.SALUTATION">
                                            <nz-option nzValue="Mr." nzLabel="Mr."></nz-option>
                                            <nz-option nzValue="Mrs." nzLabel="Mrs."></nz-option>
                                            <nz-option nzValue="Miss." nzLabel="Miss."></nz-option>
                                            <nz-option nzValue="Ms." nzLabel="Ms."></nz-option>
                                            <nz-option nzValue="Smt." nzLabel="Smt."></nz-option>
                                            <nz-option nzValue="Dr." nzLabel="Dr."></nz-option>
                                            <nz-option nzValue="Prof." nzLabel="Prof."></nz-option>
                                            <nz-option nzValue="Adv." nzLabel="Adv."></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="18">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Name</nz-form-label>

                                    <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Member Name">
                                        <input nz-input name="memberName" placeHolder="Enter Member Name"
                                            maxlength="256" type="text" [pattern]="namePattern" [(ngModel)]="data.NAME"
                                            required />
                                    </nz-form-control>

                                    <span *ngIf="data.NAME" style="font-size: 10px; color: red;">
                                        {{data.NAME.length}}/ 250
                                    </span>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Mobile No.</nz-form-label>

                                    <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Mobile No.">
                                        <input nz-input name="mobileno" placeHolder="Enter Mobile No."
                                            [pattern]="mobpattern" [(ngModel)]="data.MOBILE_NUMBER" maxlength="10"
                                            minlength="10" (keypress)="numberOnly($event)" required />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Communication Mobile No(s).</nz-form-label>

                                    <nz-form-control>
                                        <nz-select name="communicationmobileno" nzShowSearch nzAllowClear nzMode="tags"
                                            style="width: 100%" nzPlaceHolder="Enter Comm. Mobile No(s)."
                                            (keypress)="numberOnly($event)"
                                            [(ngModel)]="data.COMMUNICATION_MOBILE_NUMBER">
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Gender</nz-form-label>

                                    <nz-form-control>
                                        <nz-select name="type" nzShowSearch nzAllowClear style="width: 100%"
                                            nzPlaceHolder="Select Gender" [(ngModel)]="data.GENDER">

                                            <nz-option nzValue="M" nzLabel="Male"></nz-option>
                                            <nz-option nzValue="F" nzLabel="Female"></nz-option>
                                            <!-- <nz-option nzValue="O" nzLabel="Other"></nz-option> -->
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="12" nzSm="12" nzMd="7" nzLg="7" nzXl="7">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>DOB</nz-form-label>

                                    <nz-form-control>
                                        <nz-date-picker name="dob" (nzOnOpenChange)="dobOnOpen($event)"
                                            [nzDisabledDate]="disabledBirthDate" nzFormat="dd/MM/yyyy"
                                            [(ngModel)]="data.DOB">
                                        </nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="12" nzSm="12" nzMd="5" nzLg="5" nzXl="5" *ngIf="data.DOB">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Show Birth year</nz-form-label>

                                    <nz-form-control>
                                        <nz-switch name="isShowYear" nzCheckedChildren="Y" nzUnCheckedChildren="N"
                                            [(ngModel)]="data.IS_SHOW_YEAR">
                                        </nz-switch>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Marital Status</nz-form-label>

                                    <nz-form-control>
                                        <nz-select name="maritalStatus" nzShowSearch nzAllowClear style="width: 100%"
                                            nzPlaceHolder="Select Marital Status" [(ngModel)]="data.MARITAL_STATUS">

                                            <nz-option nzValue="S" nzLabel="Single"></nz-option>
                                            <nz-option nzValue="M" nzLabel="Married"></nz-option>
                                            <nz-option nzValue="W" nzLabel="Widowed"></nz-option>
                                            <nz-option nzValue="D" nzLabel="Divorced"></nz-option>
                                            <nz-option nzValue="E" nzLabel="Separated"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                <span *ngIf="data.MARITAL_STATUS=='M'">
                                    <nz-form-item>
                                        <nz-form-label nzNoColon>Anniversary Date</nz-form-label>

                                        <nz-form-control>
                                            <nz-date-picker name="anniversaryDate" [nzDisabledDate]="disabledDate"
                                                nzFormat="dd/MM/yyyy" [(ngModel)]="data.ANNIVERSARY_DATE">
                                            </nz-date-picker>
                                        </nz-form-control>
                                    </nz-form-item>
                                </span>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Communication Email</nz-form-label>

                                    <nz-form-control>
                                        <nz-select name="email" nzShowSearch nzAllowClear nzMode="tags"
                                            style="width: 100%" nzPlaceHolder="Enter Email(s)"
                                            [(ngModel)]="data.EMAIL_ID">
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Business Email</nz-form-label>

                                    <nz-form-control>
                                        <nz-select name="businessEmail" nzShowSearch nzAllowClear nzMode="tags"
                                            style="width: 100%" nzPlaceHolder="Enter Email(s)"
                                            [(ngModel)]="data.BUSSINESS_EMAIL">
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Joining Date</nz-form-label>

                                    <nz-form-control>
                                        <!-- [nzDisabledDate]="disabledDate" -->
                                        <nz-date-picker name="membershipDate" nzFormat="dd/MM/yyyy"
                                            (ngModelChange)="joiningDateChange($event)"
                                            [(ngModel)]="data.MEMBERSHIP_DATE">
                                        </nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Password</nz-form-label>

                                    <nz-form-control
                                        [nzErrorTip]="data.PASSWORD !='' ? 'Password Must Be 8 Character Long' : ''">
                                        <nz-input-group [nzSuffix]="suffixTemplate">
                                            <input [type]="passwordVisible ? 'text' : 'password'" name="password"
                                                placeHolder="Enter Password" pattern="([A-Za-z0-9@#\s]){8,}"
                                                minlength="8" maxlength="15" [(ngModel)]="data.PASSWORD" nz-input />
                                        </nz-input-group>

                                        <ng-template #suffixTemplate>
                                            <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                                                (click)="passwordVisible = !passwordVisible"></i>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <!-- <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Membership Expiry Date</nz-form-label>

                                    <nz-form-control>
                                        <nz-date-picker name="expiryDate" [nzDisabledDate]="disabledExpiryDate"
                                            nzFormat="dd/MM/yyyy" [(ngModel)]="data.EXPIRY_DATE">
                                        </nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </div> -->

                            <!-- <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Federation Officer</nz-form-label>

                                    <nz-form-control>
                                        <nz-switch name="federationOfficer" [(ngModel)]="data.IS_FEDERATION_OFFICER">
                                        </nz-switch>
                                    </nz-form-control>
                                </nz-form-item>
                            </div> -->
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Is NCF</nz-form-label>

                                    <nz-form-control>
                                        <nz-switch name="isNCF" nzCheckedChildren="Y" nzUnCheckedChildren="N"
                                            [(ngModel)]="data.IS_NCF">
                                        </nz-switch>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Is Honorable</nz-form-label>

                                    <nz-form-control>
                                        <nz-switch name="isHonorable" nzCheckedChildren="Y" nzUnCheckedChildren="N"
                                            [(ngModel)]="data.IS_HONORABLE">
                                        </nz-switch>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>
                                        Incharge of &nbsp;
                                        <span nz-icon nzType="plus-circle" nzTheme="twotone"
                                            style="font-size: 20px; cursor: pointer;" (click)="addInchargeOf()">
                                        </span>
                                    </nz-form-label>

                                    <nz-form-control>
                                        <nz-select name="inchargeOf" nzShowSearch nzAllowClear [nzMaxTagCount]="5"
                                            nzMode="multiple" style="width: 100%" nzPlaceHolder="Select Incharge Area"
                                            [(ngModel)]="data.INCHARGE_OF">

                                            <nz-option *ngFor="let inchargeArea of inchargeAreas;"
                                                [nzValue]="inchargeArea.ID" [nzLabel]="inchargeArea.NAME">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                    <div class="my-box" [ngClass]="readOnly ? 'divReadOnly' : ''">
                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Address Line 1</nz-form-label>

                                    <nz-form-control>
                                        <textarea nz-input rows="1" autocomplete="off"
                                            placeholder="Enter Address Line 1" maxlength="256" name="address"
                                            [(ngModel)]="data.ADDRESS1">
                                        </textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Address Line 2</nz-form-label>

                                    <nz-form-control>
                                        <textarea nz-input rows="1" autocomplete="off"
                                            placeholder="Enter Address Line 2" maxlength="256" name="address2"
                                            [(ngModel)]="data.ADDRESS2">
                                        </textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="14" nzXl="14">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>City</nz-form-label>

                                    <nz-form-control>
                                        <input nz-input autocomplete="off" placeholder="Enter City"
                                            pattern="^[a-zA-z] ?([a-zA-z]|[a-zA-z] )*[a-zA-z]$" maxlength="128"
                                            [(ngModel)]="data.CITY" name="city" type="text" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="10">
                                <nz-form-item>
                                    <nz-form-label nzNoColon>Pincode</nz-form-label>

                                    <nz-form-control>
                                        <input (keypress)="numberOnly($event)" [(ngModel)]="data.PINCODE"
                                            name="pincode1" autocomplete="off" placeholder="Enter Pincode" type="text"
                                            pattern="^\d{6}$" nz-input maxlength="6">
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>

                    <div class="my-box" [ngClass]="readOnly ? 'divReadOnly' : ''" *ngIf="roleID != 1">
                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Federation</nz-form-label>

                                    <nz-form-control nzHasFeedback nzErrorTip="Please Select Valid Federation">
                                        <nz-select name="federation" nzShowSearch nzAllowClear style="width: 100%"
                                            nzPlaceHolder="Select Federation" (ngModelChange)="getUnits($event)"
                                            [(ngModel)]="data.FEDERATION_ID" required>

                                            <nz-option *ngFor="let federation of federations;" [nzValue]="federation.ID"
                                                [nzLabel]="federation.NAME">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Unit</nz-form-label>

                                    <nz-form-control nzHasFeedback nzErrorTip="Please Select Valid Unit">
                                        <nz-select name="unit" nzShowSearch nzAllowClear style="width: 100%"
                                            nzPlaceHolder="Select Unit" (ngModelChange)="getGroups($event)"
                                            [(ngModel)]="data.UNIT_ID" required>

                                            <nz-option *ngFor="let unit of units;" [nzValue]="unit.ID"
                                                [nzLabel]="unit.NAME">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>Group</nz-form-label>

                                    <nz-form-control nzHasFeedback nzErrorTip="Please Select Valid Group">
                                        <nz-select name="group" nzShowSearch nzAllowClear style="width: 100%"
                                            nzPlaceHolder="Select Group" [(ngModel)]="data.GROUP_ID"
                                            (ngModelChange)="getGroupInfo($event)" required>

                                            <nz-option *ngFor="let group of groups;" [nzValue]="group.ID"
                                                [nzLabel]="group.NAME">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-spin>
    </form>

    <div class="footer">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn" style="margin-right: 8px;">
            <span>Cancel</span>
        </button>

        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button [nzLoading]="isSpinning"
            nz-dropdown [nzDropdownMenu]="menu" (click)="save(false,myForm)">
            <span>Save & Close</span>
        </button>

        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px; background-color: #40a9ff;">
                    <a (click)="save(true,myForm)">Save & New</a>
                </li>
            </ul>
        </nz-dropdown-menu>

        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning"
            *ngIf="(data.ID) && (!readOnly)" (click)="save(false,myForm)">
            <span>Update & close</span>
        </button>
    </div>
</div>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="450"
    [nzVisible]="inchargeAreaDrawerVisible" [nzTitle]="inchargeAreaDrawerTitle" (nzOnClose)="inchargeAreaDrawerClose()"
    (nzKeyboard)="true">

    <app-incharge-area-drawer [drawerClose]="inchargeAreaDrawerCloseCallback" [drawerVisible]="drawerVisible"
        [data]="inchargeAreaDrawerData">
    </app-incharge-area-drawer>
</nz-drawer>