.grouping {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  background-color: #fafafa;
}

.footer {
  float: right;
  margin-top: 12px;
}

.header {
  position: absolute;
  top: 0px;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 870px;
}

.header1 {
  position: absolute;
  top: 0px;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 10px 10px 687px;
  right: 0px;
}

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}

th {
  text-align: center !important;
}

.td-center {
  text-align: center !important;
}

.td-left {
  text-align: left !important;
}

.td-right {
  text-align: right !important;
}

hr.new1 {
  border-top: 2px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.preview-th {
  border: 1px solid gray;
  text-align: center;
  padding: 8px;
}

.preview-td {
  border: 1px solid gray;
  padding: 8px;
}