.header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 0px;
}

/* .name1{
    margin-left: 30%;
} */

.my-box {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    /* margin-bottom: 12px; */
    background-color: #fafafa;

}




nz-switch{
    margin-left:-157px;
    margin-top: 2px;
}


.dot {
    display: inline-block;
        height: 90px;
      width: 90px;
      border-radius: 50%;
      border: 2px solid black;
}/* margin-left: 650px; */
      

th{
    text-align: center!important;
  }
nz-table{
    overflow-y: scroll;
    height: 150px;
    display: block;
}


