nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
  }
  
  .grouping {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;
  }
  
  .footer {
    float: right;
  }
  nz-table{
    overflow-y: scroll;
    height: 150px;
  }
  th{
    text-align: center!important;
    
  }
  .datecenter{
    text-align: center!important;
  }
  .Amountcenter{
    text-align: right!important;

  }
  .header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 700px;
    width: 130px;
  }