th {
    text-align: center !important;
    vertical-align: middle !important;
}

.container {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.edit1 {
    position: absolute;
    top: 0px;
    right: 25px;
    z-index: 100;
}

.edit {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    /* margin-left: 650px; */
    border: 1px solid black;
}