nz-form-item{
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
  }
  .grouping{
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    /* margin-bottom: 12px; */
    background-color: #fafafa;
  }
  .footer{
    float: right;
    margin-top: 12px;
  }
  .my-box {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;
}
nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}
.header {
  position: absolute;
  top: 0px;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 0px;
}
th{    
  text-align: center !important;
  } 
  .td-center{
    text-align: center !important;
  } 
  .td-left{
    text-align: left !important;
  } 
  .td-right{
    text-align: right !important;
  } 
