nz-select {
    margin-right: 8px;
  }
 
  .grouping{

    border: 1px dashed #e9e9e9;

    border-radius: 6px;

    padding: 8px;

    margin-top: 12px;

    /* margin-bottom: 12px; */

    background-color: #fafafa;

  }

  nz-input-number{
    width: 250px;
  }
  
  nz-card {
    width:300px;
    text-align: center;
    font-size: 14px;
  }