nz-form-item {
    padding: 0px 8px;
    display: block;
}

.header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 0px;
}

th {
    text-align: center !important;
    vertical-align: middle !important;
}