<div>
    <div class="header">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn">
            <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
    </div>

    <form nz-form #myForm="ngForm">
        <nz-spin [nzSpinning]="isSpinning">

            <div nz-row class="my-box">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>Federation's BOD Members
                            <nz-switch *ngIf="!federationMembersLoading" name="federationSelect"
                                (ngModelChange)="selectFederationsMember($event)" nzCheckedChildren="All"
                                [ngModel]="federationSelect" nzUnCheckedChildren="">
                            </nz-switch>
                        </nz-form-label>

                        <nz-form-control>
                            <nz-select name="federation" nzShowSearch nzAllowClear
                                [nzLoading]="federationMembersLoading" nzMode="multiple" nzMaxTagCount="5"
                                style="width: 100%" nzPlaceHolder="Select Federation's BOD Members"
                                [(ngModel)]="FEDERATION_ID">

                                <nz-option nzCustomContent *ngFor="let federation of memberList;"
                                    [nzValue]="federation.ID" [nzLabel]="federation.NAME">

                                    <div nz-row>
                                        <div nz-col nzSpan="24">
                                            {{federation.NAME}}
                                        </div>

                                        <div nz-col nzSpan="24">
                                            <div style="font-size: 10px; text-align: right; color: blue;">
                                                ~ {{federation.MEMBER_ROLE}}
                                            </div>
                                        </div>
                                    </div>
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row class="my-box">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>Unit's BOD Members
                            <nz-switch *ngIf="!unitMembersLoading" name="unitSelect"
                                (ngModelChange)="selectUnitsMember($event)" [ngModel]="unitSelect"
                                nzCheckedChildren="All" nzUnCheckedChildren="">
                            </nz-switch>
                        </nz-form-label>

                        <nz-form-control>
                            <nz-select name="unit" nzShowSearch nzAllowClear [nzLoading]="unitMembersLoading"
                                nzMode="multiple" nzMaxTagCount="5" style="width: 100%"
                                nzPlaceHolder="Select Unit's BOD Members" [(ngModel)]="UNIT_ID">

                                <nz-option nzCustomContent *ngFor="let unit of unitBODMemberList;" [nzValue]="unit.ID"
                                    [nzLabel]="unit.NAME">

                                    <div nz-row>
                                        <div nz-col nzSpan="24">
                                            {{unit.NAME}}
                                        </div>

                                        <div nz-col nzSpan="24">
                                            <div style="font-size: 10px; text-align: right; color: blue;">
                                                ~ {{unit.MEMBER_ROLE}}
                                            </div>
                                        </div>
                                    </div>
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row class="my-box">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>Group's BOD Members
                            <nz-switch *ngIf="!groupMembersLoading" name="groupSelect"
                                (ngModelChange)="selectGroupsMember($event)" [ngModel]="groupSelect"
                                nzCheckedChildren="All" nzUnCheckedChildren="">
                            </nz-switch>
                        </nz-form-label>

                        <nz-form-control>
                            <nz-select name="group" nzShowSearch nzAllowClear [nzLoading]="groupMembersLoading"
                                nzMode="multiple" nzMaxTagCount="5" style="width: 100%"
                                nzPlaceHolder="Select Group's BOD Members" [(ngModel)]="GROUP_ID">

                                <nz-option nzCustomContent *ngFor="let group of sponseredGroupBODMemberList;"
                                    [nzValue]="group.ID" [nzLabel]="group.NAME">

                                    <div nz-row>
                                        <div nz-col nzSpan="24">
                                            {{group.NAME}}
                                        </div>

                                        <div nz-col nzSpan="24">
                                            <div style="font-size: 10px; text-align: right; color: blue;">
                                                ~ {{group.MEMBER_ROLE}}
                                            </div>
                                        </div>
                                    </div>
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>


            <div nz-row class="my-box">
                <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>Central Committee, Special Committee Members
                            <nz-switch *ngIf="!committeeMembersLoading" name="centralSpecialCommittee"
                                (ngModelChange)="selectFederationsCentralSpecialCommitteeMember($event)"
                                [ngModel]="centralSpecialCommittee" nzCheckedChildren="All" nzUnCheckedChildren="">
                            </nz-switch>
                        </nz-form-label>

                        <nz-form-control>
                            <nz-select name="federationCentralSpecialCommittee" nzShowSearch nzAllowClear
                                [nzLoading]="committeeMembersLoading" nzMode="multiple" nzMaxTagCount="6"
                                style="width: 100%" nzPlaceHolder="Select Central Committee, Special Committee Members"
                                [(ngModel)]="FEDERATION_CENTRAL_SPECIAL_COMMITTEE">

                                <nz-option nzCustomContent *ngFor="let member of centralSpecialCommitteeMemberList;"
                                    [nzValue]="member.ID" [nzLabel]="member.NAME">

                                    <div nz-row>
                                        <div nz-col nzSpan="24">
                                            {{member.NAME}}
                                        </div>

                                        <div nz-col nzSpan="24">
                                            <div style="font-size: 10px; text-align: right; color: blue;">
                                                ~ {{member.MEMBER_ROLE}}
                                            </div>
                                        </div>
                                    </div>
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-spin>
    </form>

    <div class="footer">
        <button type="button" nz-button (click)="close(myForm)" class="ant-btn" style="margin-right: 8px;">
            <span>Cancel</span>
        </button>

        <button type="button" nz-button class="ant-btn ant-btn-primary" [nzLoading]="isSpinning"
            (click)="sendCircularPublishMail(myForm)">
            <span>Sent Mail</span>
        </button>
    </div>
</div>