th {
  text-align: center !important;
  vertical-align: middle !important;
}

.td-center {
  text-align: center !important;
}

.td-left {
  text-align: left !important;
}

.td-right {
  text-align: right !important;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}