body {
  font-family: 'Poppins', sans-serif !important;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: #fff;
}

.footer1 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: center;
  left: 0px;
  background: #fff;
}

.filter {
  transition: max-height 1s;
}

.filter-box {
  margin-top: 8px;
  padding: 8px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.filter-visible {
  max-height: 500px;
  overflow: hidden;
}

.filter-invisible {
  max-height: 0px;
  overflow: hidden;
}

.inline {
  display: flex;
}

.formname {
  color: rgba(0, 0, 0, .85);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}

.my-scroll {
  /* max-width: calc(100vw - 24em);;
    overflow: auto;
    padding-top: 8px;  */
}

.no-wrap1 {
  white-space: nowrap;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: #fff;
}

.menuc {
  text-align: center;
  border-radius: 4px;
  background-color: #1890ff;
}

i {
  cursor: pointer;
}

.app-layout {
  height: 100vh;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(233, 233, 233);
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px rgb(169, 168, 168);
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}