nz-select {
    width: 100%;
  }
  
  nz-form-item {
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
  }
  
  .header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 1030px;
  }
  
  .my-box {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;
  }
  
  .borderA {
    border: 2px solid gray;
    border-radius: 5px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
  }
  
  .img-wrap .close {
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 100;
  }