.my-box {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fafafa;
}

.cls {
    margin-left: 260px;
}

.card {
    border: none;
    box-shadow: 2px 2px 2px 2px #e9ecef;
    border-radius: 4px;
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding: 10px;
}

body {
    background-color: #d8d8d8
}

.header {
    position: absolute;
    top: 0px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 0px;
}