.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

th {
  text-align: center !important;
  vertical-align: middle !important;
}

.header {
  position: absolute;
  top: 0px;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 0px;
}

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}